section.section.promo.promo-inner-page.participants-promo
	.wrapper.promo__wrapper
		h1.title-h1_big.promo__title.promo-inner-page__title Участники <br> программы 
		button.btn.btn_white.promo__btn.promo-inner-page__btn.js-go-to-form(data-target="callback-form") Подать заявку
