section.section.promo.promo-inner-page
	.wrapper.promo__wrapper
		h1.title-h2.promo__title.promo-inner-page__title Участники программы CYBЕRSTAGE
		button.btn.promo__btn.promo-inner-page__btn.js-go-to-form(data-target="callback-form") Подать заявку
