section.section.promo.promo-inner-page.privlechenie-promo.advisory-promo
	.wrapper.promo__wrapper
		h1.title-h1_big.promo__title.promo-inner-page__title.advisory-promo__title Advisory board
		img.promo__img.advisory-promo__img(src=`${baseDir}images/promo-picture4.jpg`, alt="promo-picture")
		button.btn.btn_white.promo__btn.promo-inner-page__btn.js-go-to-form(data-target="callback-form") Подать заявку
