section.section.section_first.info-block.paid-support
	.wrapper
		p.title-h2.section__title-h2(role="heading" aria-level="2") Предлагаем бесплатную поддержку в развитии стартапов
		.info-block__wrapper
			.info-block__img
				picture
					source(media="(max-width: 650px)" srcset=`${baseDir}images/paid-support-img_mobile.jpg` width="576" height="520")
					source(media="(max-width: 768px)" srcset=`${baseDir}images/paid-support-img_tablet.jpg` width="720" height="534")
					img(width="684" height="422" src=`${baseDir}images/paid-support-img.jpg`)
			.info-block__text-container
				p.title-h3.info-block__title(role="heading" aria-level="3") Используем индивидуальный подход
				p.text.info-block__text От стадии продукта MVP и выше — с привлечением экспертов рынка. Объем и формат рекомендуемой поддержки определяем индивидуально, исходя из запроса и ситуации молодого бизнеса.
				button.btn.info-block__btn.js-go-to-form(data-target="callback-form") Подать заявку
