nav.wrapper.page-header__nav.main-nav
	button.main-nav__burger.js-burger-init
		span.main-nav__burger-item
		span.main-nav__burger-item
	a.main-nav__logo(href="/")
		img(width="128" height="24" src=`${baseDir}images/logo.svg` alt="Логотип Solar")
	.main-nav__list-wrapper.js-mobile-menu
		ul.main-nav__list
			li.main-nav__item
				a.main-nav__link(href="/mentoring/") Менторство
			li.main-nav__item
				a.main-nav__link(href="/advisory/") Advisory
			li.main-nav__item
				a.main-nav__link(href="/technology-testing/") Тестирование технологий
			li.main-nav__item
				a.main-nav__link(href="/attracting-investments/") Привлечение инвестиций
		button.btn.btn_orange.btn_small.main-nav__btn-consultation.mobile.js-consultation-btn.js-go-to-form(data-target="callback-form") Подать заявку
	button.btn.btn_orange.btn_small.main-nav__btn-consultation.desctop.js-go-to-form(data-target="callback-form") Подать заявку

