.popup.success.mfp-hide.js-success-popup
	p.success__title(role="heading" aria-level="2") Спасибо, ваша заявка принята!
	p.success__text Мы свяжемся с вами в ближайшее время.
	button.btn.btn_small.success__btn-close.js-success-close-btn Закрыть окно


