section.section.info-block.mentoring-info-block
	.wrapper
		.info-block__wrapper
			.info-block__img.info-block__img_inner
				picture
					source(media="(max-width: 650px)" srcset=`${baseDir}images/mentoring-info-img_mobile.jpg` width="576" height="520")
					source(media="(max-width: 768px)" srcset=`${baseDir}images/mentoring-info-img_tablet.jpg` width="720" height="534")
					img(width="566" height="436" src=`${baseDir}images/mentoring-info-img.jpg`)
			.info-block__text-container.mentoring-info-block__text-container
				p.title-h3_second.info-block__title(role="heading" aria-level="3") С учетом ваших запросов мы подберем эксперта, готового делиться своим опытом, и предложим программу менторства
				ul.info-block__list
					li.info-block__list-item Развитие продаж и поиск клиентов
					li.info-block__list-item Идеи, продукты, технологии
					li.info-block__list-item HR и таланты
					li.info-block__list-item Маркетинг и PR
					li.info-block__list-item Привлечение инвестиций
				button.btn.btn_orange.info-block__btn.js-go-to-form(data-target="callback-form") Подать заявку
