section.section.section_first.products-advantages
	.wrapper.products-advantages__wrapper
		p.title-h2.section__title-h2(role="heading" aria-level="2") Наши менторы — это лидеры компании, которые помогут:
		.pagination.products-advantages__pagination
			button.pagination__arrow.pagination__arrow-prev.js-products-advantages__prev
				+svg("arrow-slide-prev")(class="pagination__svg pagination__svg_orange")
			button.pagination__arrow.pagination__arrow-next.js-products-advantages__next
				+svg("arrow-slide-next")(class="pagination__svg pagination__svg_orange")
		.products-advantages__list-wrapper.swiper.js-advantages-slider-init
			.products-advantages__list.swiper-wrapper
				.products-advantages__item.swiper-slide
					.products-advantages__icon-wrapper
						| <svg width="160" height="62" viewBox="0 0 160 62" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path class="products-advantages__icon-bracket_1" d="M61.1111 10.577C61.1111 10.9842 60.8642 11.3507 60.4868 11.5037L15.7811 29.6288C14.9488 29.9663 14.9488 31.1448 15.7812 31.4823L60.4868 49.6074C60.8642 49.7604 61.1111 50.127 61.1111 50.5342V59.6145C61.1111 60.3272 60.3868 60.8111 59.7284 60.5384L0.61731 36.053C0.243641 35.8982 0 35.5336 0 35.1291V25.982C0 25.5775 0.243638 25.2129 0.617307 25.0581L59.7284 0.572747C60.3869 0.300007 61.1111 0.783937 61.1111 1.49662V10.577Z" fill="url(#paint0_linear_886_886)"/>
						| <path class="products-advantages__icon-bracket_2" d="M98.8889 50.5341C98.8889 50.1269 99.1358 49.7604 99.5132 49.6074L144.219 31.4823C145.051 31.1448 145.051 29.9663 144.219 29.6288L99.5132 11.5037C99.1358 11.3507 98.8889 10.9841 98.8889 10.5769L98.8889 1.49659C98.8889 0.783904 99.6132 0.299975 100.272 0.572714L159.383 25.0581C159.756 25.2129 160 25.5775 160 25.9819L160 35.1291C160 35.5336 159.756 35.8982 159.383 36.053L100.272 60.5383C99.6131 60.8111 98.8889 60.3271 98.8889 59.6145L98.8889 50.5341Z" fill="url(#paint1_linear_886_886)"/>
						| <defs>
						| <linearGradient id="paint0_linear_886_886" x1="30.5556" y1="0" x2="30.5556" y2="61.1111" gradientUnits="userSpaceOnUse">
						| <stop stop-color="#FE6E36"/>
						| <stop offset="1" stop-color="#F8C3A7"/>
						| </linearGradient>
						| <linearGradient id="paint1_linear_886_886" x1="129.444" y1="61.1111" x2="129.444" y2="-2.93741e-05" gradientUnits="userSpaceOnUse">
						| <stop stop-color="#FE6E36"/>
						| <stop offset="1" stop-color="#F8C3A7"/>
						| </linearGradient>
						| </defs>
						| </svg>
					p.title-h4.products-advantages__item-title(role="heading" aria-level="3") Протестировать идею и технологии
					p.text.products-advantages__text Построить гипотезы и проверить их с помощью экспериментов
				.products-advantages__item.swiper-slide
					.products-advantages__icon-wrapper
						| <svg width="115" height="90" viewBox="0 0 115 90" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path class="products-advantages__icon-check" d="M40.4951 88.8795C39.3235 90.0509 37.4241 90.0508 36.2526 88.8793L1.12212 53.7489C-0.0497643 52.577 -0.0494083 50.6769 1.12292 49.5054L11.0481 39.5877C12.2198 38.4169 14.1187 38.4172 15.29 39.5885L36.2524 60.551C37.424 61.7225 39.3235 61.7225 40.4951 60.551L99.9242 1.12181C101.096 -0.049767 102.995 -0.0497643 104.167 1.12181L114.094 11.0484C115.265 12.2201 115.265 14.1197 114.093 15.2912L40.4951 88.8795Z" fill="url(#paint0_linear_905_278)"/>
						| <defs>
						| <linearGradient id="paint0_linear_905_278" x1="87.4923" y1="-23.3891" x2="43.7792" y2="97.0883" gradientUnits="userSpaceOnUse">
						| <stop stop-color="#FE733D"/>
						| <stop offset="1" stop-color="#F3E2DC"/>
						| </linearGradient>
						| </defs>
						| </svg>
					p.title-h4.products-advantages__item-title(role="heading" aria-level="3") Оценить коммерческие перспективы продукта
					p.text.products-advantages__text Использовать матрицу McKinsey и понять, на какие направления сделать упор
				.products-advantages__item.swiper-slide
					.products-advantages__icon-wrapper
						| <svg width="152" height="152" viewBox="0 0 152 152" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path class="products-advantages__icon-2_arrow-1" d="M73.5371 3.5312C74.7309 1.8184 77.2657 1.8184 78.4595 3.5312L101.918 37.189C103.305 39.1779 101.881 41.9044 99.4571 41.9044H52.5394C50.1151 41.9044 48.692 39.1779 50.0783 37.189L73.5371 3.5312Z" fill="url(#paint0_linear_619_227)"/>
						| <path class="products-advantages__icon-2_arrow-3" d="M78.4629 148.469C77.2691 150.182 74.7343 150.182 73.5405 148.469L50.0817 114.811C48.6955 112.822 50.1186 110.096 52.5429 110.096L99.4606 110.096C101.885 110.096 103.308 112.822 101.922 114.811L78.4629 148.469Z" fill="url(#paint1_linear_619_227)"/>
						| <path class="products-advantages__icon-2_arrow-2" d="M148.469 73.5392C150.182 74.733 150.182 77.2677 148.469 78.4615L114.811 101.92C112.822 103.307 110.096 101.883 110.096 99.4592L110.096 52.5415C110.096 50.1172 112.822 48.6941 114.811 50.0803L148.469 73.5392Z" fill="url(#paint2_linear_619_227)"/>
						| <path class="products-advantages__icon-2_arrow-4" d="M3.5312 78.4608C1.8184 77.267 1.8184 74.7323 3.5312 73.5385L37.189 50.0796C39.1779 48.6934 41.9044 50.1165 41.9044 52.5408L41.9044 99.4585C41.9044 101.883 39.1779 103.306 37.189 101.92L3.5312 78.4608Z" fill="url(#paint3_linear_619_227)"/>
						| <ellipse cx="76.2454" cy="76.2445" rx="15.6399" ry="15.6399" fill="url(#paint4_linear_619_227)"/>
						| <defs>
						| <linearGradient id="paint0_linear_619_227" x1="75.9983" y1="0" x2="75.9983" y2="55.8725" gradientUnits="userSpaceOnUse">
						| <stop stop-color="#FE6E36"/>
						| <stop offset="1" stop-color="#FE6E36" stop-opacity="0"/>
						| </linearGradient>
						| <linearGradient id="paint1_linear_619_227" x1="76.0017" y1="152" x2="76.0017" y2="96.1275" gradientUnits="userSpaceOnUse">
						| <stop stop-color="#FE6E36"/>
						| <stop offset="1" stop-color="#FE6E36" stop-opacity="0"/>
						| </linearGradient>
						| <linearGradient id="paint2_linear_619_227" x1="152" y1="76.0004" x2="96.1275" y2="76.0004" gradientUnits="userSpaceOnUse">
						| <stop stop-color="#FE6E36"/>
						| <stop offset="1" stop-color="#FE6E36" stop-opacity="0"/>
						| </linearGradient>
						| <linearGradient id="paint3_linear_619_227" x1="4.02165e-07" y1="75.9996" x2="55.8725" y2="75.9996" gradientUnits="userSpaceOnUse">
						| <stop stop-color="#FE6E36"/>
						| <stop offset="1" stop-color="#FE6E36" stop-opacity="0"/>
						| </linearGradient>
						| <linearGradient id="paint4_linear_619_227" x1="76.2454" y1="60.6046" x2="76.2454" y2="91.8844" gradientUnits="userSpaceOnUse">
						| <stop stop-color="#FE6E36"/>
						| <stop offset="1" stop-color="#FE6E36" stop-opacity="0"/>
						| </linearGradient>
						| </defs>
						| </svg>
					p.title-h4.products-advantages__item-title(role="heading" aria-level="3") Спланировать следующие шаги
					p.text.products-advantages__text Построить план развития и стратегию продвижения
				.products-advantages__item.swiper-slide
					.products-advantages__icon-wrapper
						| <svg width="148" height="96" viewBox="0 0 148 96" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path class="products-advantages__icon-1-eye" d="M91.8366 59.1452C98.1604 49.2929 95.2999 36.1796 85.4476 29.8558C75.5953 23.5321 62.4819 26.3926 56.1582 36.2449C49.8344 46.0972 52.6949 59.2105 62.5472 65.5343C72.3996 71.858 85.5129 68.9976 91.8366 59.1452Z" fill="url(#paint0_linear_619_416)"/>
						| <path d="M74 95.3899C105.081 95.3899 132.188 78.4052 146.549 53.2063C148.484 49.8147 148.484 45.6017 146.549 42.21C132.188 16.9847 105.081 0 74 0C42.9188 0 15.8122 16.9847 1.45072 42.1835C-0.483573 45.5752 -0.483573 49.7882 1.45072 53.1798C15.8122 78.3787 42.9188 95.3634 74 95.3634V95.3899ZM74 15.8983C91.5411 15.8983 105.797 30.1538 105.797 47.6949C105.797 65.2361 91.5411 79.4916 74 79.4916C56.4589 79.4916 42.2034 65.2361 42.2034 47.6949C42.2034 30.1538 56.4589 15.8983 74 15.8983Z" fill="url(#paint1_linear_619_416)"/>
						| <defs>
						| <linearGradient id="paint0_linear_619_416" x1="56.1582" y1="36.2449" x2="91.8366" y2="59.1452" gradientUnits="userSpaceOnUse">
						| <stop stop-color="#FE6E36"/>
						| <stop offset="1" stop-color="#FE6E36" stop-opacity="0"/>
						| </linearGradient>
						| <linearGradient id="paint1_linear_619_416" x1="74" y1="0" x2="-4.18232e-06" y2="76.9623" gradientUnits="userSpaceOnUse">
						| <stop stop-color="#FE6E36"/>
						| <stop offset="1" stop-color="#FE6E36" stop-opacity="0.1"/>
						| </linearGradient>
						| </defs>
						| </svg>
					p.title-h4.products-advantages__item-title(role="heading" aria-level="3") Найти подход к клиентам
					p.text.products-advantages__text Разобраться в особенностях работы с государственными и крупными заказчиками
		button.btn.btn_big.btn_orange.products-advantages__btn.js-go-to-form(data-target="callback-form") Оставить заявку
