section.section.section_first.products-advantages
	.wrapper.products-advantages__wrapper
		p.title-h2_second.section__title-h2.products-advantages__title(role="heading" aria-level="2") Наши менторы — это лидеры компании, которые помогут
		.pagination.products-advantages__pagination
			button.pagination__arrow.pagination__arrow-prev.js-products-advantages__prev
				+svg("arrow-slide-prev")(class="pagination__svg pagination__svg_orange")
			button.pagination__arrow.pagination__arrow-next.js-products-advantages__next
				+svg("arrow-slide-next")(class="pagination__svg pagination__svg_orange")
		.products-advantages__list-wrapper.js-advantages-slider-init.swiper
			.products-advantages__list.swiper-wrapper
				.products-advantages__item.swiper-slide.swiper-slide1
					p.text.text_big.products-advantages__item-title(role="heading" aria-level="3") Протестировать идею и технологии
					.products-advantages__icon-wrapper
						<svg width="220" height="221" viewBox="0 0 220 221" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g class="products-advantages__icon-1_block-1" style="mix-blend-mode:soft-light">
						<rect x="46.4258" y="14.7134" width="121.6" height="130.608" rx="0.781422" transform="rotate(20.699 46.4258 14.7134)" fill="url(#paint0_radial_4208_6724)"/>
						<rect x="46.4258" y="14.7134" width="121.6" height="130.608" rx="0.781422" transform="rotate(20.699 46.4258 14.7134)" fill="url(#pattern0_4208_6724)" fill-opacity="0.05"/>
						</g>
						<g class="products-advantages__icon-1_block-2" style="mix-blend-mode:soft-light">
						<rect x="150.699" y="4.61755" width="121.6" height="130.608" rx="0.781422" transform="rotate(75 150.699 4.61755)" fill="url(#paint1_radial_4208_6724)"/>
						<rect x="150.699" y="4.61755" width="121.6" height="130.608" rx="0.781422" transform="rotate(75 150.699 4.61755)" fill="url(#pattern1_4208_6724)" fill-opacity="0.05"/>
						</g>
						<g class="products-advantages__icon-1_block-3" style="mix-blend-mode:soft-light">
						<rect x="219.74" y="83.4043" width="121.6" height="130.608" rx="0.781422" transform="rotate(129.301 219.74 83.4043)" fill="url(#paint2_radial_4208_6724)"/>
						<rect x="219.74" y="83.4043" width="121.6" height="130.608" rx="0.781422" transform="rotate(129.301 219.74 83.4043)" fill="url(#pattern2_4208_6724)" fill-opacity="0.05"/>
						</g>
						<g class="products-advantages__icon-1_block-4" style="mix-blend-mode:soft-light">
						<rect x="196.051" y="185.448" width="121.6" height="130.608" rx="0.781422" transform="rotate(-176.398 196.051 185.448)" fill="url(#paint3_radial_4208_6724)"/>
						<rect x="196.051" y="185.448" width="121.6" height="130.608" rx="0.781422" transform="rotate(-176.398 196.051 185.448)" fill="url(#pattern3_4208_6724)" fill-opacity="0.05"/>
						</g>
						<g class="products-advantages__icon-1_block-5" style="mix-blend-mode:soft-light">
						<rect x="10.1934" y="170.749" width="121.6" height="130.608" rx="0.781422" transform="rotate(-67.7962 10.1934 170.749)" fill="url(#paint4_radial_4208_6724)"/>
						<rect x="10.1934" y="170.749" width="121.6" height="130.608" rx="0.781422" transform="rotate(-67.7962 10.1934 170.749)" fill="url(#pattern4_4208_6724)" fill-opacity="0.05"/>
						</g>
						<defs>
						<pattern id="pattern0_4208_6724" patternContentUnits="objectBoundingBox" width="8.05811" height="7.50238">
						<use xlink:href="#image0_4208_6724" transform="scale(0.00786925 0.00732654)"/>
						</pattern>
						<pattern id="pattern1_4208_6724" patternContentUnits="objectBoundingBox" width="8.05811" height="7.50238">
						<use xlink:href="#image0_4208_6724" transform="scale(0.00786925 0.00732654)"/>
						</pattern>
						<pattern id="pattern2_4208_6724" patternContentUnits="objectBoundingBox" width="8.05811" height="7.50238">
						<use xlink:href="#image0_4208_6724" transform="scale(0.00786925 0.00732654)"/>
						</pattern>
						<pattern id="pattern3_4208_6724" patternContentUnits="objectBoundingBox" width="8.05811" height="7.50238">
						<use xlink:href="#image0_4208_6724" transform="scale(0.00786925 0.00732654)"/>
						</pattern>
						<pattern id="pattern4_4208_6724" patternContentUnits="objectBoundingBox" width="8.05811" height="7.50238">
						<use xlink:href="#image0_4208_6724" transform="scale(0.00786925 0.00732654)"/>
						</pattern>
						<radialGradient id="paint0_radial_4208_6724" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(107.226 80.0174) rotate(90) scale(65.3039 60.8002)">
						<stop offset="0.735" stop-color="white" stop-opacity="0"/>
						<stop offset="1" stop-color="white"/>
						</radialGradient>
						<radialGradient id="paint1_radial_4208_6724" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(211.499 69.9215) rotate(90) scale(65.3039 60.8002)">
						<stop offset="0.735" stop-color="white" stop-opacity="0"/>
						<stop offset="1" stop-color="white"/>
						</radialGradient>
						<radialGradient id="paint2_radial_4208_6724" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(280.54 148.708) rotate(90) scale(65.3039 60.8002)">
						<stop offset="0.735" stop-color="white" stop-opacity="0"/>
						<stop offset="1" stop-color="white"/>
						</radialGradient>
						<radialGradient id="paint3_radial_4208_6724" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(256.851 250.752) rotate(90) scale(65.3039 60.8002)">
						<stop offset="0.735" stop-color="white" stop-opacity="0"/>
						<stop offset="1" stop-color="white"/>
						</radialGradient>
						<radialGradient id="paint4_radial_4208_6724" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(70.9936 236.053) rotate(90) scale(65.3039 60.8002)">
						<stop offset="0.735" stop-color="white" stop-opacity="0"/>
						<stop offset="1" stop-color="white"/>
						</radialGradient>
						</defs>
						</svg>
					p.text.products-advantages__text Построить гипотезы и проверить их с помощью экспериментов
				.products-advantages__item.swiper-slide.swiper-slide2
					p.text.text_big.products-advantages__item-title(role="heading" aria-level="3") ОЦЕНИТЬ КОММЕРЧЕСКИЕ ПЕРСПЕКТИВЫ
					.products-advantages__icon-wrapper
						<svg overflow="visible" width="199" height="198" viewBox="0 0 199 198" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<rect x="0.5" width="86.0902" height="86.0902" rx="1.79164" fill="url(#paint0_linear_4208_6763)"/>
						<rect x="0.5" width="86.0902" height="86.0902" rx="1.79164" fill="url(#pattern0_4208_6763)" fill-opacity="0.05"/>
						<rect x="0.5" y="111.917" width="86.0902" height="86.0902" rx="1.79164" fill="url(#paint1_linear_4208_6763)"/>
						<rect x="0.5" y="111.917" width="86.0902" height="86.0902" rx="1.79164" fill="url(#pattern1_4208_6763)" fill-opacity="0.05"/>
						<rect overflow="visible" x="112.418" width="86.0902" height="86.0902" rx="1.79164" fill="url(#paint2_linear_4208_6763)"/>
						<rect overflow="visible" x="112.418" width="86.0902" height="86.0902" rx="1.79164" fill="url(#pattern2_4208_6763)" fill-opacity="0.05"/>
						<rect x="112.418" y="111.917" width="86.0902" height="86.0902" rx="1.79164" fill="url(#paint3_linear_4208_6763)"/>
						<rect x="112.418" y="111.917" width="86.0902" height="86.0902" rx="1.79164" fill="url(#pattern3_4208_6763)" fill-opacity="0.05"/>
						<g class="products-advantages__icon-2_circle-1"  filter="url(#filter0_f_4208_6763)">
						<circle cx="44.6633" cy="42.6146" r="27.1184" fill="url(#paint4_radial_4208_6763)"/>
						<circle cx="44.6633" cy="42.6146" r="27.1184" fill="url(#pattern4_4208_6763)" fill-opacity="0.05"/>
						</g>
						<g overflow="visible" class="products-advantages__icon-2_circle-2" filter="url(#filter1_f_4208_6763)">
						<circle cx="156.237" cy="42.6146" r="17.8207" fill="url(#paint5_radial_4208_6763)"/>
						<circle cx="156.237" cy="42.6146" r="17.8207" fill="url(#pattern5_4208_6763)" fill-opacity="0.05"/>
						</g>
						<g class="products-advantages__icon-2_circle-3"  filter="url(#filter2_f_4208_6763)">
						<circle cx="43.545" cy="154.187" r="10.8888" fill="url(#paint6_radial_4208_6763)"/>
						<circle cx="43.545" cy="154.187" r="10.8888" fill="url(#pattern6_4208_6763)" fill-opacity="0.05"/>
						</g>
						<g class="products-advantages__icon-2_circle-4"  filter="url(#filter3_f_4208_6763)">
						<circle cx="156.389" cy="154.127" r="25.9788" fill="url(#paint7_radial_4208_6763)"/>
						<circle cx="156.389" cy="154.127" r="25.9788" fill="url(#pattern7_4208_6763)" fill-opacity="0.05"/>
						</g>
						<defs>
						<pattern id="pattern0_4208_6763" patternContentUnits="objectBoundingBox" width="7.39955" height="7.39955">
						<use xlink:href="#image0_4208_6763" transform="scale(0.00722612)"/>
						</pattern>
						<pattern id="pattern1_4208_6763" patternContentUnits="objectBoundingBox" width="7.39955" height="7.39955">
						<use xlink:href="#image0_4208_6763" transform="scale(0.00722612)"/>
						</pattern>
						<pattern id="pattern2_4208_6763" patternContentUnits="objectBoundingBox" width="7.39955" height="7.39955">
						<use xlink:href="#image0_4208_6763" transform="scale(0.00722612)"/>
						</pattern>
						<pattern id="pattern3_4208_6763" patternContentUnits="objectBoundingBox" width="7.39955" height="7.39955">
						<use xlink:href="#image0_4208_6763" transform="scale(0.00722612)"/>
						</pattern>
						<filter id="filter0_f_4208_6763" x="12.2752" y="10.2265" width="64.7758" height="64.7763" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
						<feGaussianBlur stdDeviation="2.63487" result="effect1_foregroundBlur_4208_6763"/>
						</filter>
						<pattern id="pattern4_4208_6763" patternContentUnits="objectBoundingBox" width="23.7518" height="23.7518">
						<use xlink:href="#image0_4208_6763" transform="scale(0.0231951)"/>
						</pattern>
						<filter id="filter1_f_4208_6763" x="103.146" y="9.5241" width="96.1811" height="76.1808" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
						<feGaussianBlur stdDeviation="2.63487" result="effect1_foregroundBlur_4208_6763"/>
						</filter>
						<pattern id="pattern5_4208_6763" patternContentUnits="objectBoundingBox" width="36.144" height="36.144">
						<use xlink:href="#image0_4208_6763" transform="scale(0.0352969)"/>
						</pattern>
						<filter id="filter2_f_4208_6763" x="7.3865" y="118.029" width="72.3168" height="72.317" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
						<feGaussianBlur stdDeviation="2.63487" result="effect1_foregroundBlur_4208_6763"/>
						</filter>
						<pattern id="pattern6_4208_6763" patternContentUnits="objectBoundingBox" width="59.1536" height="59.1536">
						<use xlink:href="#image0_4208_6763" transform="scale(0.0577672)"/>
						</pattern>
						<filter id="filter3_f_4208_6763" x="125.14" y="122.878" width="62.4975" height="62.4971" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
						<feGaussianBlur stdDeviation="2.63487" result="effect1_foregroundBlur_4208_6763"/>
						</filter>
						<pattern id="pattern7_4208_6763" patternContentUnits="objectBoundingBox" width="24.7937" height="24.7937">
						<use xlink:href="#image0_4208_6763" transform="scale(0.0242125)"/>
						</pattern>
						<linearGradient id="paint0_linear_4208_6763" x1="43.8593" y1="-7.51993" x2="43.313" y2="105.798" gradientUnits="userSpaceOnUse">
						<stop offset="0.0799761" stop-color="white"/>
						<stop offset="1" stop-color="white" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint1_linear_4208_6763" x1="43.8593" y1="104.397" x2="43.313" y2="217.715" gradientUnits="userSpaceOnUse">
						<stop offset="0.0799761" stop-color="white"/>
						<stop offset="1" stop-color="white" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint2_linear_4208_6763" x1="155.777" y1="-7.51993" x2="155.231" y2="105.798" gradientUnits="userSpaceOnUse">
						<stop offset="0.0799761" stop-color="white"/>
						<stop offset="1" stop-color="white" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint3_linear_4208_6763" x1="155.777" y1="104.397" x2="155.231" y2="217.715" gradientUnits="userSpaceOnUse">
						<stop offset="0.0799761" stop-color="white"/>
						<stop offset="1" stop-color="white" stop-opacity="0"/>
						</linearGradient>
						<radialGradient id="paint4_radial_4208_6763" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(37.69 37.191) rotate(88.9456) scale(126.316 167.106)">
						<stop offset="0.0799761" stop-color="#D4AEFF"/>
						<stop offset="1" stop-color="#D4AEFF" stop-opacity="0"/>
						</radialGradient>
						<radialGradient id="paint5_radial_4208_6763" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(151.654 39.0504) rotate(88.9456) scale(83.0075 109.812)">
						<stop offset="0.0799761" stop-color="#D4AEFF"/>
						<stop offset="1" stop-color="#D4AEFF" stop-opacity="0"/>
						</radialGradient>
						<radialGradient id="paint6_radial_4208_6763" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(40.7451 152.01) rotate(88.9456) scale(50.7191 67.0975)">
						<stop offset="0.0799761" stop-color="#D4AEFF"/>
						<stop offset="1" stop-color="#D4AEFF" stop-opacity="0"/>
						</radialGradient>
						<radialGradient id="paint7_radial_4208_6763" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(149.709 148.931) rotate(88.9456) scale(121.008 160.084)">
						<stop offset="0.0799761" stop-color="#D4AEFF"/>
						<stop offset="1" stop-color="#D4AEFF" stop-opacity="0"/>
						</radialGradient>

						</defs>
						</svg>

					p.text.products-advantages__text Использовать матрицу McKinsey и понять, на какие направления сделать упор

				.products-advantages__item.swiper-slide.swiper-slide3
					p.text.text_big.products-advantages__item-title(role="heading" aria-level="3") СПЛАНИРОВАТЬ СЛЕДУЮЩИЕ ШАГИ
					.products-advantages__icon-wrapper
						<svg width="320" height="227" viewBox="0 0 320 227" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<rect class="products-advantages__icon-3_card-1" width="100.865" height="100.865" rx="1.79164" transform="matrix(-0.965936 0.258783 -0.707133 -0.70708 313.754 91.3197)" fill="url(#paint0_linear_4233_4031)"/>
						<rect width="100.865" height="100.865" rx="1.79164" transform="matrix(-0.965936 0.258783 -0.707133 -0.70708 313.754 91.3197)" fill="url(#pattern0_4233_4031)" fill-opacity="0.05"/>
						<rect class="products-advantages__icon-3_card-2" width="100.865" height="100.865" rx="1.79164" transform="matrix(-0.965936 0.258783 -0.707133 -0.70708 319.754 71.3198)" fill="url(#paint1_linear_4233_4031)"/>
						<rect width="100.865" height="100.865" rx="1.79164" transform="matrix(-0.965936 0.258783 -0.707133 -0.70708 319.754 71.3198)" fill="url(#pattern1_4233_4031)" fill-opacity="0.05"/>
						<rect class="products-advantages__icon-3_card-3" width="100.865" height="100.865" rx="1.79164" transform="matrix(-0.965936 0.258783 -0.707133 -0.70708 240.754 144.32)" fill="url(#paint2_linear_4233_4031)"/>
						<rect  height="100.865" rx="1.79164" transform="matrix(-0.965936 0.258783 -0.707133 -0.70708 240.754 144.32)" fill="url(#pattern2_4233_4031)" fill-opacity="0.05"/>
						<rect class="products-advantages__icon-3_card-6" width="100.865" width="100.865" height="100.865" rx="1.79164" transform="matrix(-0.965936 0.258783 -0.707133 -0.70708 168.754 200.32)" fill="url(#paint3_linear_4233_4031)"/>
						<rect  width="100.865" height="100.865" rx="1.79164" transform="matrix(-0.965936 0.258783 -0.707133 -0.70708 168.754 200.32)" fill="url(#pattern3_4233_4031)" fill-opacity="0.05"/>
						<rect class="products-advantages__icon-3_card-4" width="100.865" height="100.865" rx="1.79164" transform="matrix(-0.965936 0.258783 -0.707133 -0.70708 247.754 129.32)" fill="url(#paint4_linear_4233_4031)"/>
						<rect  width="100.865" height="100.865" rx="1.79164" transform="matrix(-0.965936 0.258783 -0.707133 -0.70708 247.754 129.32)" fill="url(#pattern4_4233_4031)" fill-opacity="0.05"/>
						<rect class="products-advantages__icon-3_card-5" width="100.865" height="100.865" rx="1.79164" transform="matrix(-0.965936 0.258783 -0.707133 -0.70708 175.754 185.32)" fill="url(#paint5_linear_4233_4031)"/>
						<rect  width="100.865" height="100.865" rx="1.79164" transform="matrix(-0.965936 0.258783 -0.707133 -0.70708 175.754 185.32)" fill="url(#pattern5_4233_4031)" fill-opacity="0.05"/>
						<defs>
						<pattern id="pattern0_4233_4031" patternContentUnits="objectBoundingBox" width="6.31565" height="6.31565">
						<use xlink:href="#image0_4233_4031" transform="scale(0.00616763)"/>
						</pattern>
						<pattern id="pattern1_4233_4031" patternContentUnits="objectBoundingBox" width="6.31565" height="6.31565">
						<use xlink:href="#image0_4233_4031" transform="scale(0.00616763)"/>
						</pattern>
						<pattern id="pattern2_4233_4031" patternContentUnits="objectBoundingBox" width="6.31565" height="6.31565">
						<use xlink:href="#image0_4233_4031" transform="scale(0.00616763)"/>
						</pattern>
						<pattern id="pattern3_4233_4031" patternContentUnits="objectBoundingBox" width="6.31565" height="6.31565">
						<use xlink:href="#image0_4233_4031" transform="scale(0.00616763)"/>
						</pattern>
						<pattern id="pattern4_4233_4031" patternContentUnits="objectBoundingBox" width="6.31565" height="6.31565">
						<use xlink:href="#image0_4233_4031" transform="scale(0.00616763)"/>
						</pattern>
						<pattern id="pattern5_4233_4031" patternContentUnits="objectBoundingBox" width="6.31565" height="6.31565">
						<use xlink:href="#image0_4233_4031" transform="scale(0.00616763)"/>
						</pattern>
						<linearGradient id="paint0_linear_4233_4031" x1="50.8007" y1="-8.81051" x2="50.1607" y2="123.956" gradientUnits="userSpaceOnUse">
						<stop offset="0.0799761" stop-color="white"/>
						<stop offset="1" stop-color="white" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint1_linear_4233_4031" x1="50.8007" y1="-8.81051" x2="50.1607" y2="123.956" gradientUnits="userSpaceOnUse">
						<stop offset="0.0799761" stop-color="white"/>
						<stop offset="1" stop-color="white" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint2_linear_4233_4031" x1="50.8007" y1="-8.81051" x2="50.1607" y2="123.956" gradientUnits="userSpaceOnUse">
						<stop offset="0.0799761" stop-color="white"/>
						<stop offset="1" stop-color="white" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint3_linear_4233_4031" x1="50.8007" y1="-8.81051" x2="50.1607" y2="123.956" gradientUnits="userSpaceOnUse">
						<stop offset="0.0799761" stop-color="white"/>
						<stop offset="1" stop-color="white" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint4_linear_4233_4031" x1="50.8007" y1="-8.81051" x2="50.1607" y2="123.956" gradientUnits="userSpaceOnUse">
						<stop offset="0.0799761" stop-color="white"/>
						<stop offset="1" stop-color="white" stop-opacity="0"/>
						</linearGradient>
						<linearGradient id="paint5_linear_4233_4031" x1="50.8007" y1="-8.81051" x2="50.1607" y2="123.956" gradientUnits="userSpaceOnUse">
						<stop offset="0.0799761" stop-color="white"/>
						<stop offset="1" stop-color="white" stop-opacity="0"/>
						</linearGradient>
						</defs>
						</svg>

					p.text.products-advantages__text Построить план развития и стратегию продвижения
				.products-advantages__item.swiper-slide.swiper-slide4
					p.text.text_big.products-advantages__item-title(role="heading" aria-level="3") НАЙТИ ПОДХОД К КЛИЕНТАМ
					.products-advantages__icon-wrapper
						<svg width="256" height="214" viewBox="0 0 256 214" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<path d="M190.496 154.601C190.819 154.924 190.981 155.085 191.169 155.146C191.333 155.198 191.515 155.197 191.678 155.142C191.866 155.079 192.023 154.917 192.337 154.594C204.578 141.997 212.923 126.123 216.353 108.878C219.868 91.2052 218.064 72.8872 211.169 56.2401C204.273 39.593 192.596 25.3645 177.614 15.3538C162.632 5.34317 145.018 8.23375e-07 127 0C108.981 -8.23374e-07 91.3669 5.34316 76.3849 15.3538C61.4029 25.3645 49.7259 39.593 42.8304 56.2401C35.9349 72.8872 34.1308 91.2052 37.646 108.878C41.0763 126.123 49.4214 141.997 61.6619 154.594C61.9761 154.917 62.1333 155.079 62.3209 155.142C62.4843 155.197 62.6658 155.198 62.83 155.146C63.0185 155.085 63.1801 154.924 63.5032 154.601L126.076 92.028C126.399 91.7046 126.561 91.5429 126.747 91.4823C126.911 91.4291 127.088 91.4291 127.252 91.4823C127.438 91.5429 127.6 91.7046 127.924 92.028L190.496 154.601Z" fill="url(#paint0_radial_4208_6798)"/>
						<path d="M190.496 154.601C190.819 154.924 190.981 155.085 191.169 155.146C191.333 155.198 191.515 155.197 191.678 155.142C191.866 155.079 192.023 154.917 192.337 154.594C204.578 141.997 212.923 126.123 216.353 108.878C219.868 91.2052 218.064 72.8872 211.169 56.2401C204.273 39.593 192.596 25.3645 177.614 15.3538C162.632 5.34317 145.018 8.23375e-07 127 0C108.981 -8.23374e-07 91.3669 5.34316 76.3849 15.3538C61.4029 25.3645 49.7259 39.593 42.8304 56.2401C35.9349 72.8872 34.1308 91.2052 37.646 108.878C41.0763 126.123 49.4214 141.997 61.6619 154.594C61.9761 154.917 62.1333 155.079 62.3209 155.142C62.4843 155.197 62.6658 155.198 62.83 155.146C63.0185 155.085 63.1801 154.924 63.5032 154.601L126.076 92.028C126.399 91.7046 126.561 91.5429 126.747 91.4823C126.911 91.4291 127.088 91.4291 127.252 91.4823C127.438 91.5429 127.6 91.7046 127.924 92.028L190.496 154.601Z" fill="url(#pattern0_4208_6798)" fill-opacity="0.05"/>
						<path class="products-advantages__icon-4_star" d="M126.343 35.8244C126.721 34.6633 126.909 34.0828 127.193 33.927C127.438 33.7923 127.734 33.7923 127.979 33.927C128.263 34.0828 128.451 34.6633 128.829 35.8244L135.151 55.2816C135.256 55.6061 135.309 55.7683 135.408 55.8883C135.496 55.9943 135.609 56.0764 135.737 56.1271C135.881 56.1844 136.052 56.1844 136.393 56.1844L156.852 56.1844C158.073 56.1844 158.683 56.1844 158.919 56.4057C159.122 56.5971 159.214 56.8794 159.162 57.154C159.101 57.4716 158.607 57.8304 157.62 58.548L141.068 70.5732C140.792 70.7738 140.654 70.874 140.571 71.0055C140.497 71.1217 140.454 71.2546 140.445 71.3918C140.436 71.5473 140.488 71.7095 140.594 72.034L146.916 91.4912C147.293 92.6523 147.482 93.2328 147.344 93.5254C147.225 93.7783 146.985 93.9528 146.707 93.9878C146.387 94.0284 145.893 93.6696 144.905 92.952L128.354 80.9268C128.078 80.7263 127.94 80.626 127.789 80.5872C127.656 80.553 127.516 80.553 127.383 80.5872C127.232 80.626 127.094 80.7263 126.818 80.9268L110.267 92.952C109.279 93.6696 108.785 94.0284 108.464 93.9878C108.187 93.9528 107.947 93.7783 107.828 93.5254C107.69 93.2328 107.879 92.6523 108.256 91.4912L114.578 72.034C114.684 71.7095 114.736 71.5473 114.726 71.3918C114.718 71.2546 114.675 71.1217 114.601 71.0055C114.517 70.874 114.379 70.7738 114.103 70.5732L97.5522 58.548C96.5645 57.8304 96.0707 57.4716 96.0101 57.154C95.9577 56.8794 96.0494 56.5971 96.2532 56.4057C96.4889 56.1844 97.0993 56.1844 98.3202 56.1844L118.779 56.1844C119.12 56.1844 119.29 56.1844 119.435 56.1271C119.563 56.0764 119.676 55.9943 119.764 55.8883C119.863 55.7683 119.916 55.6061 120.021 55.2816L126.343 35.8244Z" fill="url(#paint1_radial_4208_6798)"/>
						<path  d="M126.343 35.8244C126.721 34.6633 126.909 34.0828 127.193 33.927C127.438 33.7923 127.734 33.7923 127.979 33.927C128.263 34.0828 128.451 34.6633 128.829 35.8244L135.151 55.2816C135.256 55.6061 135.309 55.7683 135.408 55.8883C135.496 55.9943 135.609 56.0764 135.737 56.1271C135.881 56.1844 136.052 56.1844 136.393 56.1844L156.852 56.1844C158.073 56.1844 158.683 56.1844 158.919 56.4057C159.122 56.5971 159.214 56.8794 159.162 57.154C159.101 57.4716 158.607 57.8304 157.62 58.548L141.068 70.5732C140.792 70.7738 140.654 70.874 140.571 71.0055C140.497 71.1217 140.454 71.2546 140.445 71.3918C140.436 71.5473 140.488 71.7095 140.594 72.034L146.916 91.4912C147.293 92.6523 147.482 93.2328 147.344 93.5254C147.225 93.7783 146.985 93.9528 146.707 93.9878C146.387 94.0284 145.893 93.6696 144.905 92.952L128.354 80.9268C128.078 80.7263 127.94 80.626 127.789 80.5872C127.656 80.553 127.516 80.553 127.383 80.5872C127.232 80.626 127.094 80.7263 126.818 80.9268L110.267 92.952C109.279 93.6696 108.785 94.0284 108.464 93.9878C108.187 93.9528 107.947 93.7783 107.828 93.5254C107.69 93.2328 107.879 92.6523 108.256 91.4912L114.578 72.034C114.684 71.7095 114.736 71.5473 114.726 71.3918C114.718 71.2546 114.675 71.1217 114.601 71.0055C114.517 70.874 114.379 70.7738 114.103 70.5732L97.5522 58.548C96.5645 57.8304 96.0707 57.4716 96.0101 57.154C95.9577 56.8794 96.0494 56.5971 96.2532 56.4057C96.4889 56.1844 97.0993 56.1844 98.3202 56.1844L118.779 56.1844C119.12 56.1844 119.29 56.1844 119.435 56.1271C119.563 56.0764 119.676 55.9943 119.764 55.8883C119.863 55.7683 119.916 55.6061 120.021 55.2816L126.343 35.8244Z" fill="url(#pattern1_4208_6798)" fill-opacity="0.05"/>
						<path d="M50.1308 211.894L118.16 124.022C118.875 123.098 119.233 122.637 119.548 122.584C119.82 122.538 120.097 122.632 120.284 122.835C120.5 123.07 120.5 123.654 120.5 124.822V212.693C120.5 213.151 120.5 213.379 120.411 213.554C120.333 213.708 120.208 213.833 120.054 213.911C119.879 214 119.651 214 119.193 214H51.1639C50.3088 214 49.8812 214 49.6586 213.824C49.4649 213.671 49.3509 213.438 49.3484 213.192C49.3455 212.908 49.6073 212.57 50.1308 211.894Z" fill="url(#paint2_radial_4208_6798)"/>
						<path d="M50.1308 211.894L118.16 124.022C118.875 123.098 119.233 122.637 119.548 122.584C119.82 122.538 120.097 122.632 120.284 122.835C120.5 123.07 120.5 123.654 120.5 124.822V212.693C120.5 213.151 120.5 213.379 120.411 213.554C120.333 213.708 120.208 213.833 120.054 213.911C119.879 214 119.651 214 119.193 214H51.1639C50.3088 214 49.8812 214 49.6586 213.824C49.4649 213.671 49.3509 213.438 49.3484 213.192C49.3455 212.908 49.6073 212.57 50.1308 211.894Z" fill="url(#pattern2_4208_6798)" fill-opacity="0.05"/>
						<path d="M205.869 211.894L137.84 124.022C137.125 123.098 136.767 122.637 136.452 122.584C136.18 122.538 135.903 122.632 135.716 122.835C135.5 123.07 135.5 123.654 135.5 124.822V212.693C135.5 213.151 135.5 213.379 135.589 213.554C135.667 213.708 135.792 213.833 135.946 213.911C136.121 214 136.349 214 136.807 214H204.836C205.691 214 206.119 214 206.341 213.824C206.535 213.671 206.649 213.438 206.652 213.192C206.654 212.908 206.393 212.57 205.869 211.894Z" fill="url(#paint3_radial_4208_6798)"/>
						<path d="M205.869 211.894L137.84 124.022C137.125 123.098 136.767 122.637 136.452 122.584C136.18 122.538 135.903 122.632 135.716 122.835C135.5 123.07 135.5 123.654 135.5 124.822V212.693C135.5 213.151 135.5 213.379 135.589 213.554C135.667 213.708 135.792 213.833 135.946 213.911C136.121 214 136.349 214 136.807 214H204.836C205.691 214 206.119 214 206.341 213.824C206.535 213.671 206.649 213.438 206.652 213.192C206.654 212.908 206.393 212.57 205.869 211.894Z" fill="url(#pattern3_4208_6798)" fill-opacity="0.05"/>
						<path class="products-advantages__icon-4_triangle" d="M2.75638 211.765L103.274 112.205C103.973 111.513 104.322 111.166 104.622 111.144C104.882 111.124 105.136 111.23 105.305 111.429C105.5 111.658 105.5 112.149 105.5 113.133V212.693C105.5 213.151 105.5 213.379 105.411 213.554C105.333 213.708 105.208 213.833 105.054 213.911C104.879 214 104.651 214 104.193 214H3.67584C2.68059 214 2.18297 214 1.95366 213.804C1.75471 213.633 1.6496 213.378 1.67102 213.117C1.69572 212.816 2.04925 212.465 2.75632 211.765L2.75638 211.765Z" fill="url(#paint4_radial_4208_6798)"/>
						<path d="M2.75638 211.765L103.274 112.205C103.973 111.513 104.322 111.166 104.622 111.144C104.882 111.124 105.136 111.23 105.305 111.429C105.5 111.658 105.5 112.149 105.5 113.133V212.693C105.5 213.151 105.5 213.379 105.411 213.554C105.333 213.708 105.208 213.833 105.054 213.911C104.879 214 104.651 214 104.193 214H3.67584C2.68059 214 2.18297 214 1.95366 213.804C1.75471 213.633 1.6496 213.378 1.67102 213.117C1.69572 212.816 2.04925 212.465 2.75632 211.765L2.75638 211.765Z" fill="url(#pattern4_4208_6798)" fill-opacity="0.05"/>
						<path class="products-advantages__icon-4_triangle" d="M253.244 211.765L152.726 112.205C152.027 111.513 151.678 111.166 151.378 111.144C151.118 111.124 150.864 111.23 150.695 111.429C150.5 111.658 150.5 112.149 150.5 113.133V212.693C150.5 213.151 150.5 213.379 150.589 213.554C150.667 213.708 150.792 213.833 150.946 213.911C151.121 214 151.349 214 151.807 214H252.324C253.319 214 253.817 214 254.046 213.804C254.245 213.633 254.35 213.378 254.329 213.117C254.304 212.816 253.951 212.465 253.244 211.765L253.244 211.765Z" fill="url(#paint5_radial_4208_6798)"/>
						<path  d="M253.244 211.765L152.726 112.205C152.027 111.513 151.678 111.166 151.378 111.144C151.118 111.124 150.864 111.23 150.695 111.429C150.5 111.658 150.5 112.149 150.5 113.133V212.693C150.5 213.151 150.5 213.379 150.589 213.554C150.667 213.708 150.792 213.833 150.946 213.911C151.121 214 151.349 214 151.807 214H252.324C253.319 214 253.817 214 254.046 213.804C254.245 213.633 254.35 213.378 254.329 213.117C254.304 212.816 253.951 212.465 253.244 211.765L253.244 211.765Z" fill="url(#pattern5_4208_6798)" fill-opacity="0.05"/>
						<defs>
						<pattern id="pattern0_4208_6798" patternContentUnits="objectBoundingBox" width="5.61994" height="5.61994">
						<use xlink:href="#image0_4208_6798" transform="scale(0.00548823)"/>
						</pattern>
						<pattern id="pattern1_4208_6798" patternContentUnits="objectBoundingBox" width="14.6286" height="14.6286">
						<use xlink:href="#image0_4208_6798" transform="scale(0.0142857)"/>
						</pattern>
						<pattern id="pattern2_4208_6798" patternContentUnits="objectBoundingBox" width="14.2222" height="11.0108">
						<use xlink:href="#image0_4208_6798" transform="scale(0.0138889 0.0107527)"/>
						</pattern>
						<pattern id="pattern3_4208_6798" patternContentUnits="objectBoundingBox" width="14.2222" height="11.0108">
						<use xlink:href="#image0_4208_6798" transform="scale(0.0138889 0.0107527)"/>
						</pattern>
						<pattern id="pattern4_4208_6798" patternContentUnits="objectBoundingBox" width="9.75238" height="9.84615">
						<use xlink:href="#image0_4208_6798" transform="scale(0.00952381 0.00961538)"/>
						</pattern>
						<pattern id="pattern5_4208_6798" patternContentUnits="objectBoundingBox" width="9.75238" height="9.84615">
						<use xlink:href="#image0_4208_6798" transform="scale(0.00952381 0.00961538)"/>
						</pattern>
						<radialGradient id="paint0_radial_4208_6798" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(127 91.1041) rotate(90) scale(91.1041)">
						<stop offset="0.510089" stop-color="white" stop-opacity="0"/>
						<stop offset="1" stop-color="white"/>
						</radialGradient>
						<radialGradient id="paint1_radial_4208_6798" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(127.586 67) rotate(101.768) scale(16.8242)">
						<stop offset="0.510089" stop-color="white" stop-opacity="0"/>
						<stop offset="1" stop-color="white"/>
						</radialGradient>
						<radialGradient id="paint2_radial_4208_6798" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(51.5988 162.832) rotate(55.0819) scale(61.8714 71.4135)">
						<stop offset="0.199" stop-color="white" stop-opacity="0"/>
						<stop offset="1" stop-color="white"/>
						</radialGradient>
						<radialGradient id="paint3_radial_4208_6798" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(204.401 162.832) rotate(124.918) scale(61.8714 71.4135)">
						<stop offset="0.199" stop-color="white" stop-opacity="0"/>
						<stop offset="1" stop-color="white"/>
						</radialGradient>
						<radialGradient id="paint4_radial_4208_6798" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.01915 156.78) rotate(47.6867) scale(76.7213 93.9208)">
						<stop offset="0.199" stop-color="white" stop-opacity="0"/>
						<stop offset="1" stop-color="white"/>
						</radialGradient>
						<radialGradient id="paint5_radial_4208_6798" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(250.981 156.78) rotate(132.313) scale(76.7213 93.9208)">
						<stop offset="0.199" stop-color="white" stop-opacity="0"/>
						<stop offset="1" stop-color="white"/>
						</radialGradient>

						</defs>
						</svg>

					p.text.products-advantages__text Изучить особенности работы с крупными и государственными заказчиками
		button.btn.btn_big.btn_orange.products-advantages__btn.js-go-to-form(data-target="callback-form") Оставить заявку



