section.section.promo.promo-inner-page.promo-main.mentoring-promo
	.wrapper.promo__wrapper
		.mentoring-promo__title-inner 
			h1.title-h1_big.promo__title.promo-inner-page__title <span style="display:block">Менторство</span> и помощь <span>экспертов</span>    
			img.promo__img(src=`${baseDir}images/promo-picture3.jpg`, alt="promo-picture")
		button.btn.promo__btn.btn_white.promo-inner-page__btn.js-go-to-form(data-target="callback-form") Подать заявку
