extends ../../pug/base

append vars
	- baseDir = '../'
	- title = "Менторство, Менторство и помощь экспертов Солар — Cyber Stage"
	- meta.description = "Менторство — помощь экспертов Солар. Найдём эксперта для решения задач и подберем программу менторства: Развитие продаж и поиск клиентов. Идея, продукт, технология. HR и таланты. Маркетинг и PR. Привлечение инвестиций."
	- body.classList = "page__body-second"
	- link.icon = `${baseDir}favicons/favicon.ico`
	- link.iconSvg = `${baseDir}favicons/favicon.svg`
	- link.appleTouchIcon = `${baseDir}favicons/180.png`
	- link.manifest = `${baseDir}favicons/site.webmanifest`
	- link.canonical = "https://cyberstage.rt-solar.ru/advisory-board/"
	- currentPage = "mentoring"

block body-start
	header.page-header
		+header-second
		include ../../pug/pages/mentoring/promo
block content
	include ../../pug/pages/mentoring/products-advantages
	include ../../pug/pages/mentoring/experts
	include ../../pug/pages/mentoring/info-block
	include ../../pug/blocks/consultation-form
	include ../../pug/blocks/success-form

block footer
	include ../../pug/blocks/footer-second

