extends ../../pug/base

append vars
	- baseDir = '../'
	- title = "Тестирование стартап технологий — Cyber Stage"
	- meta.description = "Тестирование стартап технологий. Помогаем протестировать ваши разработки с техническими командами Solar, сформулировать рекомендации по доработке и развитию. Доступ к технологиям Solar, Check-up ваших технологий, Запуск пилотного проекта."
	- link.icon = `${baseDir}favicons/favicon.ico`
	- link.iconSvg = `${baseDir}favicons/favicon.svg`
	- link.appleTouchIcon = `${baseDir}favicons/180.png`
	- link.manifest = `${baseDir}favicons/site.webmanifest`
	- link.canonical = "https://cyberstage.rt-solar.ru/testirovanie-startap-tekhnologij/"
	- currentPage = "technology-testing"

block body-start
	header.page-header.page-header_dark
		+header
		include ../../pug/pages/technology-testing/promo
block content
	include ../../pug/pages/technology-testing/tabs
	include ../../pug/blocks/consultation-form
	include ../../pug/blocks/success-form

block footer
	include ../../pug/blocks/footer

