.consultation__form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(24px);

	@include laptop {
		display: flex;
		flex-direction: column;
	}

	@include mobile {
		gap: rem(32px);
	}
}

.consultation__file {
	grid-column-start: 1;
	grid-column-end: -1;
	margin-bottom: rem(32px);

	@include laptop {
		margin-bottom: 0;
	}
}

.consultation__item-checkbox {
	grid-column-start: 1;
	grid-column-end: -1;
	display: flex;
	justify-content: space-between;
	gap: rem(24px);

	@include laptop {
		flex-direction: column;
		gap: 0;
		margin-top: rem(8px);
	}
}
.consultation__col-1 {
	max-width: rem(921px);
	width: 100%;

	@include laptop {
		margin-bottom: rem(32px);
	}
}

.consultation__checkbox {
	margin-bottom: rem(24px);

	&:last-child {
		margin-bottom: 0;
	}
}

.consultation__col-2 {
	flex-grow: 1;
}

.consultation__submit-btn {
	max-width: none;
	min-width: auto;
	width: 100%;

	@include laptop {
		min-width: rem(349px);
	}

	@include mobile {
		min-width: auto;
		width: 100%;
	}
}

.consultation_explanation {
	padding: rem(9px) rem(40px);
	color: var(--color-grey-70);
	margin-top: rem(24px);

	@include laptop {
		padding: 0;
		font-size: $font-size-text_small;
		line-height: $line-height-text_small;
	}
}

.consultation__title-h2 {
	@include laptop {
		margin-bottom: rem(32px);
	}
}

