.link {
	color: var(--color-orange);
	text-transform: uppercase;
	vertical-align: middle;

	&:hover {
		color: var(--color-light-orange);
	}

	&:active {
		color: var(--color-dark-orange);
	}
}

.link_arrow {
	position: relative;
	padding-right: rem(24px);

	svg {
		width: rem(16px);
		height: rem(16px);
		position: absolute;
		right: 0;
		top: 0;
		transition: 0.3s ease-out;
	}

	path {
		transition: 0.3s ease-out;
	}

	&:hover {
		svg {
			transform: translateX(3px);
		}

		path {
			fill: var(--color-light-orange);
		}
	}

	&:active {
		path {
			fill: var(--color-dark-orange);
		}
	}
}

.link_arrow-big {
	padding-right: rem(32px);

	svg {
		width: rem(24px);
		height: rem(24px);
	}
}

.link_lowercase {
	text-transform: lowercase;
}

.link_arrow_center {
	svg {
		top: 50%;
		transform: translateY(-50%);
	}

	&:hover {
		svg {
			transform: translateY(-50%) translateX(3px);
		}
	}
}
