.link {
	color: var(--color-orange);

	&:hover {
		color: var(--color-light-orange);
	}

	&:active {
		color: var(--color-dark-orange);
	}
}

.link_arrow {
	position: relative;
	padding-right: rem(24px);

	svg {
		width: rem(16px);
		height: rem(16px);
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: 0.3s ease-out;
		fill: var(--color-orange);
	}


	&:hover {
		svg {
			transform: translateX(3px) translateY(-50%);
			fill: var(--color-light-orange);
		}
	}

	&:active {
		svg {
			fill: var(--color-dark-orange);
		}
	}
}

.link_arrow-big {
	padding-right: rem(32px);

	svg {
		width: rem(24px);
		height: rem(24px);
	}
}
