.page-header {
	position: relative;

	&_dark {
		background-color: var(--color-greyscale-black);
	}
}

.page-header__head {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4;
	transition: 0.4s ease-out;

	&.fixed {
		position: fixed;
		background-color: var(--color-greyscale-black);
	}

	&_hide {
		transform: translateY(-100%);
	}
	&_light {
	}
}
.page-header__head_light {
	&.fixed {
		background-color: var(--color-violet);
	}
}
