.page {
	height: 100%;

	@include laptop {
		&_overflow-hidden {
			overflow: hidden;
		}
	}

	@include onlyLaptop {
		font-size: 0.95vw;
	}
}

.page__body {
	min-height: 100%;
	line-height: $line-height-base;
	color: var(--color-secondary-black);
	background-color: var(--color-white);
	font: {
		family: var(--font-primary);
		size: $font-size-base;
		weight: 400;
	}

	@include laptop {
		font-size: $font-size-base_laptop;
		line-height: $line-height-base;
	}
}
.page__body-second {
	color: var(--color-grey-90);
	font: {
		family: var(--font-primary_second);
	}
}
