.products-advantages__prev-line {
	margin-bottom: rem(32px);

	@include mobile {
		margin-bottom: rem(24px);
	}
}

.products-advantages__title {
	margin-bottom: rem(32px);

	@include laptop {
		margin-bottom: rem(56px);
	}

	@include mobile {
		margin-bottom: rem(32px);
	}
}
.products-advantages__advisory-title {
	margin-bottom: rem(80px);

	@include laptop {
		margin-bottom: rem(56px);
	}

	@include mobile {
		margin-bottom: rem(32px);
	}
}

.products-advantages__item {
	border-radius: rem(10px);
	padding: rem(20px);
	background-color: var(--color-beige);
	min-height: rem(450px);
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include onlyDesctop {
		&:hover {
			.products-advantages__icon-1_block-1 {
				animation: animationBlock1 2.5s linear both infinite;
			}
			.products-advantages__icon-1_block-2 {
				animation: animationBlock2 2.5s linear both infinite;
			}
			.products-advantages__icon-1_block-3 {
				animation: animationBlock3 2.5s linear both infinite;
			}
			.products-advantages__icon-1_block-4 {
				animation: animationBlock4 2.5s linear both infinite;
			}
			.products-advantages__icon-1_block-5 {
				animation: animationBlock5 2.5s linear both infinite;
			}
			.products-advantages__icon-2_circle-1 circle {
				animation: animationCircle1 2.5s linear both infinite;
			}
			.products-advantages__icon-2_circle-2 circle {
				animation: animationCircle2 2.5s linear both infinite;
			}
			.products-advantages__icon-2_circle-3 circle {
				animation: animationCircle3 2.5s linear both infinite;
			}
			.products-advantages__icon-2_circle-4 circle {
				animation: animationCircle4 2.5s linear both infinite;
			}
			.products-advantages__icon-3_card-1 {
				animation: animationCard1 2.5s linear both infinite;
			}
			.products-advantages__icon-3_card-2 {
				animation: animationCard2 2.5s linear both infinite;
			}
			.products-advantages__icon-3_card-3 {
				animation: animationCard3 2.5s linear both infinite;
			}
			.products-advantages__icon-3_card-4 {
				animation: animationCard4 2.5s linear both infinite;
			}
			.products-advantages__icon-3_card-5 {
				animation: animationCard5 2.5s linear both infinite;
			}
			.products-advantages__icon-3_card-6 {
				animation: animationCard6 2.5s linear both infinite;
			}
			.products-advantages__icon-4_star {
				transform-origin: 127.5px 64px;
				animation: animationStar 2.5s linear both infinite;
			}
			.products-advantages__icon-4_triangle {
				animation: animationTriangle 2.5s linear both infinite;
			}
			.products-advantages__icon-5_block-1 {
				animation: animationRectangle1 2.5s linear both infinite;
			}
			.products-advantages__icon-5_block-2 {
				animation: animationRectangle2 2.5s linear both infinite;
			}
			.products-advantages__icon-5_block-3 {
				animation: animationRectangle3 2.5s linear both infinite;
			}
			.products-advantages__icon-5_gradient-1 {
				animation: animationGradient1 2.5s linear both infinite;
			}
			.products-advantages__icon-5_gradient-2 {
				animation: animationGradient2 2.5s linear both infinite;
			}
			.products-advantages__icon-5_gradient-3 {
				animation: animationGradient3 2.5s linear both infinite;
			}
			.products-advantages__icon-6_rectangle-1 {
				animation: animationTranslateRectangle1 2.5s linear both
					infinite;
			}
			.products-advantages__icon-6_rectangle-2 {
				animation: animationTranslateRectangle2 2.5s linear both
					infinite;
				transform-origin: 196.25px 128.5px;
			}
			.products-advantages__icon-6_rectangle-3 {
				animation: animationTranslateRectangle3 2.5s linear both
					infinite;
			}
			.products-advantages__icon-6_rectangle-4 {
				animation: animationTranslateRectangle4 2.5s linear both
					infinite;
				transform-origin: 188.55px 196.865px;
			}
			.products-advantages__icon-7_circle-1 {
				animation: animationCircle5 2.5s linear both infinite;

				transition: r 2.5s ease-in-out;
			}
			.products-advantages__icon-7_circle-2 {
				animation: animationCircle6 2.5s linear both infinite;
			}
			.products-advantages__icon-7_circle-3 {
				animation: animationCircle7 2.5s linear both infinite;
			}
			.products-advantages__icon-7_circle-4 {
				animation: animationCircle8 2.5s linear both infinite;
			}
		}
	}

	@include laptop {
		padding: rem(20px);
		min-height: rem(314px);
		width: rem(348px) !important;
	}

	@include mobile {
		padding: rem(16px);
		width: rem(328px) !important;
		min-height: rem(318px);
		margin-bottom: rem(16px);
	}
}
.products-advantages__item.swiper-slide1 {
	background: #eee;
}
.products-advantages__item.swiper-slide2 {
	background: #ceafff;
}
.products-advantages__item.swiper-slide3 {
	background: #ffe147;
}
.products-advantages__item.swiper-slide4 {
	background: #ffe9e1;
}

.products-advisory__list-wrapper .products-advantages__item.swiper-slide1 {
	background: #ceafff;
}
.products-advisory__list-wrapper .products-advantages__item.swiper-slide2 {
	background: #ffe147;
}
.products-advisory__list-wrapper .products-advantages__item.swiper-slide3 {
	background: #ffe9e1;
}

.products-advantages__advisory-pagination {
	display: none !important;
}

.products-advantages__item:last-child {
	@include mobile {
		margin-bottom: 0;
	}
}
.products-advantages__icon-wrapper {
	//height: rem(155px);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: rem(24px);

	svg {
		overflow: initial;
		width: auto;
		max-height: 100%;
		max-width: 100%;
	}

	@include laptop {
		margin-bottom: rem(20px);
	}

	@include mobile {
		height: rem(142px);
		margin-bottom: rem(20px);
	}
}

.products-advantages__item-title {
	margin-bottom: rem(12px);
	text-transform: uppercase;
}

.products-advantages__text {
}

.products-advantages__list-wrapper {
	margin-bottom: rem(80px);

	@include laptop {
		margin-bottom: rem(64px);
	}

	@include mobile {
		margin-bottom: rem(32px);
	}
}

.products-advantages__btn {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.products-advantages__pagination {
	position: relative;
	display: flex;
	justify-content: flex-end;
	gap: rem(8px);
	margin-bottom: rem(16px);
	@include mobile {
		display: none;
	}
}

.products-advantages__list {
	height: auto;
	@include mobile {
		flex-direction: column;
	}
}

@keyframes animationBlock1 {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(rem(-40px), 0);
	}
	50% {
		transform: translate(rem(-40px), 0);
	}
	75% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes animationBlock2 {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(rem(-30px), rem(-10px));
	}
	50% {
		transform: translate(rem(-30px), rem(-10px));
	}
	75% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes animationBlock3 {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(rem(25px), 0px);
	}
	50% {
		transform: translate(rem(25px), 0px);
	}
	75% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes animationBlock4 {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(rem(29px), rem(23px));
	}
	50% {
		transform: translate(rem(29px), rem(23px));
	}
	75% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes animationBlock5 {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(rem(19px), rem(19px));
	}
	50% {
		transform: translate(rem(19px), rem(19px));
	}
	75% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes animationCircle1 {
	0% {
		r: rem(27px);
	}
	25% {
		r: rem(27px);
	}
	50% {
		r: rem(19.5px);
	}
	75% {
		r: rem(19.5px);
	}
	100% {
		r: rem(27px);
	}
}
@keyframes animationCircle2 {
	0% {
		r: rem(18px);
	}
	25% {
		r: rem(18px);
	}
	50% {
		r: rem(25px);
	}
	75% {
		r: rem(25px);
	}
	100% {
		r: rem(18px);
	}
}
@keyframes animationCircle3 {
	0% {
		r: rem(11px);
	}
	25% {
		r: rem(11px);
	}
	50% {
		r: rem(30.5px);
	}
	75% {
		r: rem(30.5px);
	}
	100% {
		r: rem(11px);
	}
}
@keyframes animationCircle4 {
	0% {
		r: rem(26px);
	}
	25% {
		r: rem(26px);
	}
	50% {
		r: rem(14.5px);
	}
	75% {
		r: rem(14.5px);
	}
	100% {
		r: rem(26px);
	}
}

@keyframes animationCard1 {
	0% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133 -0.70708,
			313.754,
			91.3197
		);
	}
	25% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			313.754,
			91.3197
		);
	}
	50% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			327.754,
			72.3197
		);
	}
	75% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			327.754,
			72.3197
		);
	}
	100% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			313.754,
			91.3197
		);
	}
}

@keyframes animationCard2 {
	0% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133 -0.70708,
			319.754,
			71.3197
		);
	}
	25% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			319.754,
			71.3197
		);
	}
	50% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			339.754,
			46.3197
		);
	}
	75% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			339.754,
			46.3197
		);
	}
	100% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			319.754,
			71.3197
		);
	}
}

@keyframes animationCard3 {
	0% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133 -0.70708,
			240.754,
			144.3197
		);
	}
	25% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			240.754,
			144.3197
		);
	}
	50% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			250.754,
			134.3197
		);
	}
	75% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			250.754,
			134.3197
		);
	}
	100% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			240.754,
			144.3197
		);
	}
}
@keyframes animationCard4 {
	0% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133 -0.70708,
			247.754,
			129.3197
		);
	}
	25% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			247.754,
			129.3197
		);
	}
	50% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			257.754,
			112.3197
		);
	}
	75% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			257.754,
			112.3197
		);
	}
	100% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			247.754,
			129.3197
		);
	}
}
@keyframes animationCard5 {
	0% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133 -0.70708,
			175.754,
			185.32
		);
	}
	25% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			175.754,
			185.32
		);
	}
	50% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			185.754,
			165.32
		);
	}
	75% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			185.754,
			165.32
		);
	}
	100% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			175.754,
			185.32
		);
	}
}
@keyframes animationCard6 {
	0% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133 -0.70708,
			168.754,
			200.32
		);
	}
	25% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			168.754,
			200.32
		);
	}
	50% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			178.754,
			190.32
		);
	}
	75% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			178.754,
			190.32
		);
	}
	100% {
		transform: matrix(
			-0.965936,
			0.258783,
			-0.707133,
			-0.70708,
			168.754,
			200.32
		);
	}
}

@keyframes animationStar {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(70deg);
	}
	75% {
		transform: rotate(70deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes animationTriangle {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(rem(-15px));
	}
	75% {
		transform: translateY(rem(-15px));
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes animationRectangle1 {
	0% {
		height: rem(175.643px);
		y: rem(12.7917px);
	}
	25% {
		height: rem(175.643px);
		y: rem(12.7917px);
	}
	50% {
		height: rem(228.723px);
		y: rem(-13.7917px);
	}
	75% {
		height: rem(228.723px);
		y: rem(-13.7917px);
	}
	100% {
		height: rem(175.643px);
		y: rem(12.7917px);
	}
}
@keyframes animationRectangle2 {
	0% {
		height: rem(204.546px);
		y: rem(3px);
	}
	25% {
		height: rem(204.546px);
		y: rem(3px);
	}
	50% {
		height: rem(266.361px);
		y: rem(-28px);
	}
	75% {
		height: rem(266.361px);
		y: rem(-28px);
	}
	100% {
		height: rem(204.546px);
		y: rem(3px);
	}
}
@keyframes animationRectangle3 {
	0% {
		height: rem(194.755px);
		y: rem(12.7917px);
	}
	25% {
		height: rem(194.755px);
		y: rem(12.7917px);
	}
	50% {
		height: rem(253.61px);
		y: rem(-17.7917px);
	}
	75% {
		height: rem(253.61px);
		y: rem(-17.7917px);
	}
	100% {
		height: rem(194.755px);
		y: rem(12.7917px);
	}
}

@keyframes animationGradient1 {
	0% {
		width: rem(70.4416px);
		x: rem(20.2891px);
	}
	25% {
		width: rem(70.4416px);
		x: rem(20.2891px);
	}
	50% {
		width: rem(50.4416px);
		x: rem(30.2891px);
	}
	75% {
		width: rem(50.4416px);
		x: rem(30.2891px);
	}
	100% {
		width: rem(70.4416px);
		x: rem(20.2891px);
	}
}

@keyframes animationGradient2 {
	0% {
		width: rem(65.023px);
		x: rem(112.792px);
	}
	25% {
		width: rem(65.023px);
		x: rem(112.792px);
	}
	50% {
		width: rem(39px);
		x: rem(125px);
	}
	75% {
		width: rem(39px);
		x: rem(125px);
	}
	100% {
		width: rem(65.023px);
		x: rem(112.792px);
	}
}

@keyframes animationGradient3 {
	0% {
		width: rem(68.1193px);
		x: rem(199.876px);
	}
	25% {
		width: rem(68.1193px);
		x: rem(199.876px);
	}
	50% {
		width: rem(47.4416px);
		x: rem(210.2891px);
	}
	75% {
		width: rem(47.4416px);
		x: rem(210.2891px);
	}
	100% {
		width: rem(68.1193px);
		x: rem(199.876px);
	}
}

@keyframes animationTranslateRectangle1 {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(rem(3px));
	}
	75% {
		transform: translateY(rem(3px));
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes animationTranslateRectangle2 {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(0deg);
	}
	50% {
		transform: translateY(rem(2px)) rotate(-2deg);
	}
	75% {
		transform: translateY(rem(2px)) rotate(-2deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes animationTranslateRectangle3 {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(rem(8px));
	}
	75% {
		transform: translateY(rem(8px));
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes animationTranslateRectangle4 {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	25% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(rem(15px)) rotate(-10deg);
	}
	75% {
		transform: translateY(rem(15px)) rotate(-10deg);
	}
	100% {
		transform: translateY(0px) rotate(0deg);
	}
}

// @keyframes animationCircle5 {
// 	0% {
// 		r: 1;
// 	}
// 	25% {
// 		r: 1;
// 	}
// 	50% {
// 		r: 0.5;
// 	}
// 	75% {
// 		r: 0.5;
// 	}
// 	100% {
// 		r: 1;
// 	}
// }
