.text {
	margin: 0;

	&_big {
		font-size: $font-size-text_big;
		line-height: $line-height-text_big;

		@include laptop {
			font-size: $font-size-base_laptop;
			line-height: $line-height-base;
		}
	}

	&_middle {
		font-size: $font-size-base_laptop;
		line-height: $line-height-base;
	}

	&_dark {
		color: var(--color-greyscale-black);
	}
}
