.title-h3 {
	margin: 0;
	font-size: $font-size-title-h3;
	line-height: $line-height-title-h3;
	font-weight: 400;

	&_dark {
		color: var(--color-greyscale-black);
	}

	@include laptop {
		font-size: $font-size-title-h3_laptop;
		line-height: $line-height-title-h3_laptop;
	}
}
.title-h3_second {
	margin: 0;
	font-size: $font-size-title-h3_second;
	line-height: $line-height-title-h3_second;
	font-weight: 400;
	@include laptop {
		font-size: $font-size-title-h3_laptop;
		line-height: $line-height-title-h3_laptop;
	}
}
