.title-h4 {
	margin: 0;
	font-size: $font-size-text_big;
	line-height: $line-height-text_big;
	font-weight: 400;

	@include laptop {
		font-size: $font-size-base;
		line-height: $line-height-base;
	}
}
