section.section-second.types-of-support
    .wrapper
        p.title-h2_second.section__title-h2(role="heading" aria-level="2") Что такое CyberStage Matrix 
        ul.about__list
            li.about__item
                p.text.about__item-title 187
                p.text.text_big компаний, создающих продукты в сфере информационной безопасности
            li.about__item
                p.text.about__item-title 32
                    sup млрд
                p.text.text_big рублей — совокупная выручка компаний по итогу 2023 г. с CAGR’21–23 в 30% 
            li.about__item
                p.text.about__item-title 7
                p.text.text_big технологических ниш, в рамках которых создаются продукты для защиты данных, управления доступом, защиты приложений, безопасности облака и инфраструктуры
            li.about__item
                p.text.about__item-title 44
                p.text.text_big ИБ-технологии, представляющие собой отдельные инструменты, методы и подходы для решения задач в этих нишах
