section.section-second.info-block.paid-support
    .wrapper
        p.title-h2_second.section__title-h2(role="heading" aria-level="2") Единая база ИБ-вендоров
        .info-block__wrapper
            .info-block__img
                picture
                    img(width="566" height="450" src=`${baseDir}images/paid-support-img2.jpg`)
            .info-block__text-container
                p.title-h3_second.info-block__title(role="heading" aria-level="3") Сделаем рынок прозрачным, а продукты — заметными
                .info-block__text-container 
                    p.text.info-block__text В базе собраны компании с выручкой менее 1 млрд рублей. Все данные взяты из открытых источников, далее они будут вноситься и корректироваться пользователями и экспертами отрасли при поддержке CyberStage.
                    p.text.info-block__text На основе данных из Matrix команда CyberStage подготовила аналитический отчет, который поможет разобраться в том, как устроено российское предпринимательство в сфере ИБ, как выглядит динамика технологических ниш, структура выручки компаний и кто является лидером роста индустрии.
                a(href="").btn.btn_orange.info-block__btn СКАЧАТЬ ОТЧЕТ
