section.section-second.interactive
    .wrapper
        .title-header
            p.title-h2_second(role="heading" aria-level="2") Интерактивная база ИБ-вендоров
            p.text.title-header__subtitle
                span (
                | 3 КВАРТАЛ 2024 ГОДА
                span )
        p.text.text_big CyberStage Matrix — гибкий инструмент для анализа актуального состояния рынка ИБ-вендоров. Сортируйте по категориям, фильтруйте по тегам, технологическим нишам, выручке – получайте необходимую информацию онлайн.
        .bpium-iframe
        .interactive__btns 
            a(href="").btn.btn_orange ПОПАСТЬ НА КИБЕРКАРТУ
                a(href="").btn СКАЧАТЬ ОТЧЕТ