section.section.promo.matrix-promo
    .wrapper.promo__wrapper
        h1.title-h1_big.promo__title(style="letter-spacing: -0.03em;") CyberStage Matrix
        p.text.matrix-promo__text Первая публичная база данных российских продуктов и команд разработки в сфере информационной безопасности
