section.section-second.radar
    .wrapper
        p.title-h2_second.section__title-h2(role="heading" aria-level="2") Технологический радар
        p.text.text_big Изучите, в какой нише больше всего перспективных компаний и какие технологии развиваются активнее всего.
        .bpium-iframe