.recomendations {
	padding-top: rem(72px);
	@include laptop {
		padding-top: rem(64px);
	}
	@include mobile {
		padding-top: rem(40px);
	}
	.scroll-container {
		@include laptop {
			height: 690px;
		}
		@include tablet {
			height: auto;
		}
	}
	.profile__list {
		@include laptop {
			height: 230px;
		}
		@include tablet {
			height: auto;
		}
	}
}
