extends ../pug/base

append vars
	- baseDir = './'
	- title = ""
	- description = ""
	- link.icon = "/favicons/favicon.ico"
	- link.iconSvg = "/favicons/favicon.svg"
	- link.appleTouchIcon = "/favicons/180.png"
	- link.manifest = "/favicons/site.webmanifest"

block body-start
	header.page-header
		+header
		include ../pug/blocks/pages/main/promo
block content
	include ../pug/blocks/pages/main/development-services
	include ../pug/blocks/pages/main/experts
	include ../pug/blocks/pages/main/profile
	include ../pug/blocks/consultation-form
	include ../pug/blocks/pages/main/news
	include ../pug/blocks/success-form

block footer
	include ../pug/blocks/footer

