extends ../pug/base

append vars
	- baseDir = './'
	- title = "Программа поддержки стартапов — Cyber Stage"
	- meta.description = "Программа поддержки стартапов в сфере информационной безопасности и смежных направлениях. Бесплатная поддержка стартапов от стадии продукта MVP и выше, с привлечением экспертов рынка."
	- body.classList = "page__body-second"
	- link.icon = `${baseDir}favicons/favicon.ico`
	- link.iconSvg = `${baseDir}favicons/favicon.svg`
	- link.appleTouchIcon = `${baseDir}favicons/180.png`
	- link.manifest = `${baseDir}favicons/site.webmanifest`
	- link.canonical = "https://cyberstage.rt-solar.ru/"

block body-start
	header.page-header
		+header-second
		include ../pug/pages/main/promo
block content
	include ../pug/blocks/info-block
	include ../pug/pages/main/types-of-support
	include ../pug/pages/main/profile
	include ../pug/pages/main/logo-main
	include ../pug/pages/main/case
	//include ../pug/pages/main/partners
	include ../pug/blocks/consultation-form
	include ../pug/pages/main/news
	include ../pug/blocks/success-form

block footer
	include ../pug/blocks/footer-second

