.steps {
	@include laptop {
		height: 130vh;
	}
	@include tablet {
		height: auto;
	}
	.scroll-container {
		@include tablet {
			height: auto;
		}
	}
	.profile__list {
		@include laptop {
			top: calc(100vh - 230px);
			height: 260px;
		}
		@include tablet {
			height: auto;
			top: auto;
		}
	}
}
