section.section-second.profile.recomendations
    //- .wrapper
    //-     .title-header
    //-         p.title-h2_second(role="heading" aria-level="2") Сформулируем рекомендации по доработке и развитию
    //-         p.text.title-header__subtitle
    //-             span (
    //-             | ТЕСТИРОВАНИЕ РАЗРАБОТОК
    //-             span )
    .scroll-container.recomendations__scroll-container
        ul.profile__list
            li.profile__item
                .wrapper
                    .title-header
                        p.title-h2_second(role="heading" aria-level="2") Сформулируем рекомендации по доработке и развитию
                        p.text.title-header__subtitle
                            span (
                            | ТЕСТИРОВАНИЕ РАЗРАБОТОК
                            span )
            li.profile__item
                .wrapper
                    .profile__item-start
                        p.text.profile__item-number
                            span (
                            | 001
                            span )
                        p.text.profile__item-title ДОСТУП  К ТЕХНОЛОГИЯМ CYBERSTAGE
                    ul.profile__item-list 
                        li Апробация решения на ресурсах Solar
                        li Проверка готовности к модели MSS
                        li Проведение исследований и совместных разработок 
            li.profile__item
                .wrapper
                    .profile__item-start
                        p.text.profile__item-number
                            span (
                            | 002
                            span )
                        p.text.profile__item-title CHECK-UP ВАШИХ ТЕХНОЛОГИЙ
                    ul.profile__item-list 
                        li Рекомендации по архитектуре решения и выбору технологий
                        li Оценка компетенций команды и процессов разработки
                        li Оценка рисков долгосрочного развития
            li.profile__item
                .wrapper
                    .profile__item-start
                        p.text.profile__item-number
                            span (
                            | 003
                            span )
                        p.text.profile__item-title Запуск пилотного проекта
                    ul.profile__item-list 
                        li Оценка эффективности решения поставленной задачи
                        li Оценка готовности продукта к коммерциализации
                        li Создание референсов для заказчиков (пилоты с Family & Friends — группами)