.case {
	&__title {
		margin-bottom: rem(80px);
		@include laptop {
			margin-bottom: rem(56px);
		}
		@include mobile {
			margin-bottom: rem(32px);
		}
	}
	&__slider-inner {
		width: 100%;
		position: relative;
	}
	&__slider {
		width: 100%;
	}
	.swiper-wrapper {
		@include tablet {
			flex-direction: column;
			margin: -8px 0;
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		position: absolute;
		transition: all 0.2s linear;
		width: rem(50px);
		left: auto;
		right: auto;
		bottom: auto;
		top: rem(221px);
		cursor: pointer;
		margin-top: 0 !important;
		z-index: 2;
		svg {
			width: 100%;
		}
		@include laptop {
			top: rem(-95px);
			width: rem(44px);
			svg {
				rect {
					fill: var(--color-orange);
				}
				path {
					fill: var(--color-white);
				}
			}
		}
		@include tablet {
			display: none;
		}
	}
	.swiper-button-prev {
		left: rem(24px);
		@include laptop {
			left: auto;
			right: rem(60px);
		}
	}
	.swiper-button-next {
		left: rem(82px);
		@include laptop {
			left: auto;
			right: 0;
		}
	}
	&__item {
		width: 100%;
		border-radius: 10px;
		padding: rem(40px) rem(24px);
		display: flex;
		justify-content: space-between;
		min-height: rem(492px);
		@include laptop {
			padding: rem(24px);
			flex-direction: column;
			font-size: rem(18px);
			line-height: 122%;
		}
		@include tablet {
			margin: 8px 0;
		}
		@include mobile {
			padding: rem(16px);
		}
	}
	.swiper-slide1 {
		background: var(--color-violet);
	}
	.swiper-slide2 {
		background: #ffe147;
	}
	.swiper-slide3 {
		background: #ffe9e1;
	}
	&__item-start {
		width: 31.5%;
		@include laptop {
			width: 100%;
		}
		.case__item-text {
			padding-top: rem(32px);
			font-size: rem(20px);
			line-height: 120%;
			@include laptop {
				font-size: rem(18px);
				line-height: 122%;
			}
		}
	}
	&__item-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-bottom: rem(16px);
		border-bottom: 1px solid #545a60;
	}
	&__item-title {
		font-size: rem(20px);
		line-height: 120%;
		text-transform: uppercase;
		@include laptop {
			font-size: rem(18px);
			line-height: 122%;
		}
	}
	&__item-number {
		font-size: rem(16px);
		line-height: 125%;
		color: var(--color-grey-60);
		span {
			color: var(--color-orange);
		}
		.case__item-number_current {
			color: var(--color-grey-90);
		}
	}
	&__item-text {
		// font-size: rem(20px);
		line-height: 144%;
		// @include laptop {
		// 	font-size: rem(18px);
		// 	line-height: 122%;
		// }
	}
	&__item-end {
		width: 49.2%;
		@include laptop {
			width: 100%;
		}
	}
	&__item-subtitle {
		margin-bottom: rem(12px);
		font-size: rem(20px);
		line-height: 120%;
		@include laptop {
			font-size: rem(18px);
			line-height: 122%;
		}
	}
	&__item-block:first-child {
		margin-bottom: rem(40px);
	}
	&__item-list {
		margin-left: rem(8px);
		li {
			position: relative;
			padding-left: rem(20px);
			margin-bottom: rem(12px);
			@include mobile {
				padding-left: rem(14px);
			}
			&::before {
				position: absolute;
				content: "";
				left: 0;
				top: rem(9px);
				border-radius: 50%;
				width: rem(6px);
				height: rem(6px);
				background: var(--color-orange);
				@include laptop {
					width: rem(4px);
					height: rem(4px);
				}
			}
		}
		li:last-child {
			margin-bottom: 0;
		}
	}
}
