.experts {
	overflow: hidden;
	position: relative;
}

.experts__text {
	position: absolute;
	width: rem(435px);
	padding-top: rem(15px);
	transition: 0.3s ease-out;
	right: rem(-10px);
	bottom: 0;
	transform: translateX(100%);
	opacity: 0;
	display: flex;
	flex-direction: column;
	min-height: rem(117px);
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: rem(3px);
		width: rem(115px);
		background-color: var(--color-orange);
	}

	@include laptop {
		width: rem(232px);
		padding-top: rem(15px);
	}

	@include tablet {
		position: relative;
		transform: none;
		right: auto;
		bottom: auto;
		width: rem(280px);
		margin-top: rem(24px);
	}

	@include mobile {
		//width: rem(288px);
		width: calc(100vw - 2rem);
	}
}

.experts__slider {
	overflow: initial;
	width: rem(1050px);
	margin-left: rem(420px);

	@include laptop {
		width: rem(900px);
		margin-left: rem(180px);
	}

	@include tablet {
		min-height: rem(550px);
	}

	@include mobile {
		width: rem(610px);
		margin-left: 0;
		min-height: rem(366px);
	}
}

.experts__slider-item {
	transition: 0.3s ease-out;
	padding-left: rem(11px);
	padding-right: rem(11px);
	height: rem(483px);
	position: relative;

	&.swiper-slide-active {
		width: rem(361px) !important;

		.experts__avatar {
			height: rem(483px);

			@include laptop {
				height: rem(399px);
			}

			@include mobile {
				height: rem(250px);
			}
		}

		.experts__img-grey {
			opacity: 0;
		}

		.experts__img {
			opacity: 1;
		}

		.experts__text {
			opacity: 1;
		}

		@include laptop {
			width: rem(300px) !important;
		}

		@include mobile {
			width: rem(184px) !important;
		}
	}

	@include laptop {
		height: rem(399px);
		padding-left: rem(10px);
		padding-right: rem(10px);
	}

	@include mobile {
		height: auto;
		padding-right: rem(4px);
		padding-left: rem(4px);
	}
}

.experts__slider-container {
	margin-right: rem(-11px);
	margin-left: rem(-11px);

	@include laptop {
		margin-left: rem(-10px);
		margin-right: rem(-10px);
	}

	@include mobile {
		margin-left: rem(-4px);
		margin-right: rem(-4px);
	}
}

.experts__slider-block {
	overflow: hidden;
}

.experts__avatar {
	height: rem(334px);
	position: relative;
	width: 100%;
	transition: 0.3s ease-out;

	@include laptop {
		height: rem(285px);
	}

	@include mobile {
		height: rem(203px);
	}
}

.experts__img, .experts__img-grey {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.3s ease-out;
}

.experts__img {
	opacity: 0;
}

.experts__item-title {
	text-transform: uppercase;

	@include laptop {
		margin-bottom: rem(8px);
	}
}

.experts__title-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: rem(24px);
	margin-bottom: rem(80px);

	@include tablet {
		margin-bottom: rem(16px);
		display: grid;
		grid-template-columns: 1fr;
		gap: rem(32px);
	}
}

.experts__title {
	margin-bottom: 0;
	width: 100%;
	max-width: rem(1060px);
}

.experts__pagination {
	position: static;
	width: auto;
	margin-bottom: rem(6px);

	@include mobile {
		margin-bottom: 0;
	}
}

.experts__item-text {
	@include laptop {
		font-size: $font-size-text_small;
		line-height: $line-height-text_small;
	}

	@include mobile {
		br {
			display: none;
		}
	}
}

.experts__pagination-wrapper {
	@include mobile {
		justify-content: flex-end;
	}
}

.experts__item-button {
	margin-top: auto;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.experts__bio {
	pointer-events: none;
}

.experts__bio-item {
	display: flex;
	position: absolute;
	z-index: 3;
	bottom: rem(54px);
	min-height: rem(740px);
	width: 100%;
	padding: 0 rem(24px);
	max-width: rem(1440px);
	transform: translateX(-50%);
	left: 50%;

	@include laptop {
		min-height: rem(610px);
		height: auto;
		bottom: rem(100px);
		padding: 0 rem(20px);
		transform: translateX(0);
		left: 0;
	}

	@include mobile {
		flex-direction: column;
		min-height: auto;
		height: auto;
		bottom: rem(30px);
		padding: 0 rem(14px);
	}

	&.active {
		.experts__bio-left {
			opacity: 1;
			translate: 0;
		}

		.experts__bio-right {
			opacity: 1;
			translate: rem(-1px);

			@include mobile {
				translate: 0 rem(-1px);
			}
		}
	}
}

.experts__bio-left {
	display: flex;
	flex-direction: column;
	gap: rem(22px);
	width: rem(398px);
	opacity: 0;
	flex-shrink: 0;
	background-color: var(--color-white);
	translate: -120%;
	transition: all 0.3s linear;

	@include laptop {
		min-width: rem(200px);
		max-width: rem(200px);
		gap: rem(20px);
	}

	@include mobile {
		min-width: 100%;
		max-width: 100%;
		min-height: rem(356px);
		max-height: rem(440px);
		translate: 0 -120%;
	}
}

.experts__bio-button {
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
	gap: rem(8px);
	pointer-events: auto;
	cursor: pointer;

	svg {
		width: rem(24px);
		height: rem(24px);
	}
}

.experts__bio-right {
	display: flex;
	flex-direction: column;
	gap: rem(32px);
	padding: rem(46px) rem(24px) rem(24px) rem(24px);
	opacity: 0;
	flex-grow: 1;
	background-color: var(--color-white);
	translate: 120%;
	transition: all 0.3s linear;

	@include laptop {
		gap: rem(22px);
	}

	@include mobile {
		padding: 0;
		translate: 0 120%;
	}
}

.experts__bio-right_title {
	margin-bottom: rem(10px);
}

.experts__bio-list {
	display: flex;
	flex-direction: column;
	gap: rem(12px);

	@include laptop {
		gap: rem(10px);
	}
}

.experts__bio-list_item {
	position: relative;
	padding-left: rem(30px);

	&::before {
		content: '';
		position: absolute;
		width: rem(6px);
		height: rem(6px);
		border-radius: 50%;
		left: rem(8px);
		top: rem(8px);
		background-color: var(--color-orange);

		@include laptop {
			width: rem(4px);
			height: rem(4px);
		}
	}

	@include laptop {
		padding-left: rem(24px);
	}
}

.experts__bio-title {
	text-transform: uppercase;
	margin-bottom: rem(4px);

	@include laptop {
		margin-bottom: rem(8px);
	}
}

.experts__bio-name {
	@include mobile {
		margin-bottom: rem(11px);
	}
}

.experts__bio-content_text {
	margin-bottom: rem(12px);
}
