.promo-main {
	padding-top: rem(232px);
	padding-bottom: rem(60px);
	background: var(--color-violet);
	color: #fff;
	position: relative;
	@include laptop {
		padding-top: rem(142px);
		padding-bottom: 40px;
	}

	@include mobile {
		padding-top: rem(76px);
	}
}

.promo-main__title {
	max-width: rem(638px);
	letter-spacing: -0.03em;
	margin-bottom: rem(56px);
	position: relative;
	z-index: 1;
	@include laptop {
	}

	@include mobile {
		margin-bottom: 2rem;
	}
}
.promo-main__btn {
	position: relative;
	z-index: 1;
	@include mobile {
		width: 100%;
		max-width: 328px;
	}
}
.promo-main__video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	max-height: 700px;
	min-height: 520px;
	object-fit: cover;
}
