.types-of-support__list {
	display: grid;
	grid-template-columns: 41% 15% 41%;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		"item1 item2 item2"
		"item3 item3 item4";
	gap: rem(24px);
	@include laptop {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			"item1 item2"
			"item3 item2"
			"item4 item4";
	}
	@include tablet {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"item1"
			"item2"
			"item3"
			"item4";
	}
}

.types-of-support__item {
	min-height: rem(290px);
	display: flex;
	flex-direction: column;
	@include laptop {
		min-height: rem(230px);
	}
	@include mobile {
	}
}

.types-of-support__item:nth-child(1) {
	grid-area: item1;
	.types-of-support__link-wrapper {
		background: #eee;
		&:hover {
			background-color: var(--color-orange);
		}
	}
}
.types-of-support__item:nth-child(2) {
	grid-area: item2;
	.types-of-support__link-wrapper {
		background: var(--color-violet);
		&:hover {
			background-color: var(--color-orange);
			.types-of-support__img-one {
				opacity: 0;
			}
			.types-of-support__img-two {
				opacity: 1;
			}
		}
	}
	.types-of-support__text {
		max-width: rem(460px);
	}
}
.types-of-support__item:nth-child(3) {
	grid-area: item3;
	.types-of-support__link-wrapper {
		background: #ffe147;
		&:hover {
			background-color: var(--color-orange);
		}
	}
}
.types-of-support__item:nth-child(4) {
	grid-area: item4;
	.types-of-support__link-wrapper {
		background: #ffe9e1;
		&:hover {
			background-color: var(--color-orange);
		}
	}
}

.types-of-support__link-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: rem(24px);
	position: relative;
	flex-grow: 1;
	border-radius: 10px;
	&:hover {
		.types-of-support__title {
			color: var(--color-white);
		}

		.types-of-support__text {
			color: var(--color-white);
		}

		.types-of-support__link {
			color: var(--color-white);

			svg {
				fill: var(--color-white);
				right: -10px;
			}
		}
	}

	@include mobile {
		padding: rem(16px);
	}
}

.types-of-support__title {
	text-transform: uppercase;
	margin-bottom: rem(24px);
	transition: 0.3s ease-in-out;

	// @include onlyDesctop {
	// 	font-size: $font-size-text_big;
	// 	line-height: $line-height-text_big;
	// }
}

.types-of-support__link {
	margin-top: auto;
	transition: 0.3s ease-in-out;
}

.types-of-support__text {
	transition: 0.3s ease-in-out;
	@include laptop {
		font-size: rem(18px);
		line-height: 122%;
	}
}
.types-of-support__images {
	position: absolute;
	right: rem(24px);
	top: rem(24px);
	max-height: 85%;
	width: rem(228px);
	@include laptop {
		position: relative;
		margin: rem(60px) auto rem(48px);
		top: auto;
		right: auto;
		height: 242px;
	}
	@include mobile {
		margin: rem(60px) auto rem(32px);
		width: 178px;
		height: 190px;
	}
}
.types-of-support__img {
	border-radius: 5px;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.3s linear;
}
.types-of-support__img-two {
	opacity: 0;
}
