section#profile-section.section.profile
	.wrapper
		.prev-line.section__prev-line
			p.prev-line__text Профиль участника
		p.title-h2.section__title-h2(role="heading" aria-level="2") Готовы предоставить поддержку, если:
		ul.profile__list
			li.profile__item
				.profile__col.profile__col_1
					p.title-h3.profile__title-h3(role="heading" aria-level="3") Создан продукт от стадии MVP и более зрелый
				.profile__col.profile__col_2
					p.text.profile__text Основные элементы функционала продукта реализованы. Проведены пилотные проекты или продажи в заказчиках.
			li.profile__item
				.profile__col.profile__col_1
					p.title-h3.profile__title-h3(role="heading" aria-level="3") Решение задач сферы информационной безопасности и смежных направлений
				.profile__col.profile__col_2
					p.text.profile__text Продукт направлен на решений задач в сфере информационной безопасности, или на улучшение качества комплексных сервисов и продуктов.
			li.profile__item
				.profile__col.profile__col_1
					p.title-h3.profile__title-h3(role="heading" aria-level="3") Собрана команда проекта
				.profile__col.profile__col_2
					p.text.profile__text Есть не менее трёх основных участников в команде. Выделены ответственные за продукт, продажи и финансы.
