section.section.promo.promo_main
	.wrapper.promo__wrapper
		h1.title-h1.promo__title.promo__title_main CYBER <span>STAGE</span>
		btn.btn.promo__btn.js-go-to-form(data-target="callback-form") Получить поддержку
		p.text.text_middle.promo__text Помогаем талантливым предпринимателям в сфере информационной безопасности реализовать своё видение
