section.section.section_first.info-block
	.wrapper
		p.title-h2_second.section__title-h2(role="heading" aria-level="2") Поделимся опытом и поможем презентовать проект
		.info-block__wrapper
			.info-block__img
				img(width="566" height="450" src=`${baseDir}images/paid-support-img3.jpg`)

			.info-block__text-container
				p.title-h3_second.info-block__title(role="heading" aria-level="3") Проведем техническое и бизнес-обучение, в том числе для прохождения инкубаторов и акселераторов на площадках партнеров.
				.info-block__text-container
					p.text.info-block__text Компания Solar прошла путь от стартапа до компании с многомиллиардной выручкой и сейчас занимает позицию крупнейшего игрока на рынке ИБ.
					p.text.info-block__text На основе нашего опыта поможем привлечь венчурные инвестиции от Solar Ventures и других фондов перспективным стартапам в сфере информационной безопасности, в т.ч. в области новых технологий для импортозамещения в критически важных и чувствительных отраслях.

