section.section.info-block.attracting-investments-info
	.wrapper
		p.title-h2.section__title-h2(role="heading" aria-level="2") Поделимся опытом и поможем презентовать проект
		.info-block__wrapper
			.info-block__img.info-block__img_inner
				picture
					source(media="(max-width: 650px)" srcset=`${baseDir}images/attracting-investments-img_mobile.jpg` width="576" height="520")
					source(media="(max-width: 768px)" srcset=`${baseDir}images/attracting-investments-img_tablet.jpg` width="720" height="655")
					img(width="566" height="655" src=`${baseDir}images/attracting-investments-img.jpg`)
			.info-block__text-container.attracting-investments-info__text-container
				p.title-h3.info-block__title(role="heading" aria-level="3") Проведем техническое и бизнес — обучение, в том числе для прохождения инкубаторов и акселераторов на площадках партнеров.
				p.text.info-block__text Компания Solar прошла путь от стартапа до компании с многомиллиардной выручкой и сейчас занимает позицию крупнейшего игрока в на рынке ИБ.
				p.text.info-block__text На основе нашего опыта поможем привлечь венчурные инвестиции от Solar и других фондов перспективным  стартапам в сфере информационной безопасности, в т.ч. новых технологий для импортозамещения в критически важных и чувствительных отраслях 
				p.text.info-block__text.info-block__text_prev-list Подскажем, как:
				ul.info-block__list
					li.info-block__list-item Привлечь инвестиции
					li.info-block__list-item Построить финансовую модель
					li.info-block__list-item Провести оценку рынка
					li.info-block__list-item Выделить ваши конкурентные преимущества
					li.info-block__list-item Разработать стратегию развития
					li.info-block__list-item Подготовить питч и презентацию
