section.section-second.steps
    .wrapper
        p.title-h2_second.section__title-h2(role="heading" aria-level="2") Поможем привлечь инвестиции через реализацию ключевых шагов
        ul.steps__list
            li.steps__item
                .steps__item-start
                    p.text.steps__item-number
                        span (
                        | 001
                        span )
                    p.text.steps__item-title ОЦЕНКА ГОТОВНОСТИ БИЗНЕСА К РАБОТЕ С ИНВЕСТОРОМ
                ul.steps__item-list 
                    li На какую оценку можно рассчитывать на текущей стадии развития
                    li Определение целеполагания в работе с инвестором
                    li Проверка юридической и организационной готовности
            li.steps__item
                .steps__item-start
                    p.text.steps__item-number
                        span (
                        | 002
                        span )
                    p.text.steps__item-title ФОРМИРОВАНИЕ ЦЕЛОСТНОЙ ИСТОРИИ СОЗДАНИЯ СТОИМОСТИ 
                ul.steps__item-list 
                    li Понятный «трекшн» и планы развития компании
                    li Ключевые гипотезы и метрики развития бизнеса
                    li Проработка финансовой модели, плана финансирования компании
                    li Презентация для инвестора или бизнес-партнера
            li.steps__item
                .steps__item-start
                    p.text.steps__item-number
                        span (
                        | 003
                        span )
                    p.text.steps__item-title ПРОВЕРКА ПОЗИЦИОНИРОВАНИЯ БИЗНЕСА 
                ul.steps__item-list 
                    li Организация презентации бизнеса перед разной аудиторией
                    li Работа с обратной связью и рекомендациями
                    li Доработка недостающих блоков истории, в том числе с привлечением экспертов
            li.steps__item
                .steps__item-start
                    p.text.steps__item-number
                        span (
                        | 004
                        span )
                    p.text.steps__item-title ПРЕДСТАВЛЕНИЕ ФОНДАМ И СТРАТЕГИЧЕСКИМ ИНВЕСТОРАМ
                ul.steps__item-list 
                    li Интро перед инвесторами в частном формате и на мероприятиях
                    li Оценка и приоритизация предложений инвесторов
                    li Помощь в реализации сделки по привлечению финансирования