section.section-second.profile.steps
    .scroll-container.steps__scroll-container
        ul.profile__list
            li.profile__item
                .wrapper
                    p.title-h2_second(role="heading" aria-level="2") Поможем привлечь инвестиции через реализацию ключевых шагов
            li.profile__item
                .wrapper
                    .profile__item-start
                        p.text.profile__item-number
                            span (
                            | 001
                            span )
                        p.text.profile__item-title ОЦЕНКА ГОТОВНОСТИ БИЗНЕСА К РАБОТЕ С ИНВЕСТОРОМ
                    ul.profile__item-list 
                        li На какую оценку можно рассчитывать на текущей стадии развития
                        li Определение целеполагания в работе с инвестором
                        li Проверка юридической и организационной готовности
            li.profile__item
                .wrapper
                    .profile__item-start
                        p.text.profile__item-number
                            span (
                            | 002
                            span )
                        p.text.profile__item-title ФОРМИРОВАНИЕ ЦЕЛОСТНОЙ ИСТОРИИ СОЗДАНИЯ СТОИМОСТИ 
                    ul.profile__item-list 
                        li Понятный «трекшн» и планы развития компании
                        li Ключевые гипотезы и метрики развития бизнеса
                        li Проработка финансовой модели, плана финансирования компании
                        li Презентация для инвестора или бизнес-партнера
            li.profile__item
                .wrapper
                    .profile__item-start
                        p.text.profile__item-number
                            span (
                            | 003
                            span )
                        p.text.profile__item-title ПРОВЕРКА ПОЗИЦИОНИРОВАНИЯ БИЗНЕСА
                    ul.profile__item-list 
                        li Организация презентации бизнеса перед разной аудиторией
                        li Работа с обратной связью и рекомендациями
                        li Доработка недостающих блоков истории, в том числе с привлечением экспертов
            li.profile__item
                .wrapper
                    .profile__item-start
                        p.text.profile__item-number
                            span (
                            | 004
                            span )
                        p.text.profile__item-title ПРЕДСТАВЛЕНИЕ ФОНДАМ И СТРАТЕГИЧЕСКИМ ИНВЕСТОРАМ
                    ul.profile__item-list 
                        li Интро перед инвесторами в частном формате и на мероприятиях
                        li Оценка и приоритизация предложений инвесторов
                        li Помощь в реализации сделки по привлечению финансирования