@font-face {
	src:
		local("ONYSans-Regular"),
		url("/fonts/ONYSans-Regular.woff2") format("woff2"),
		url("/fonts/ONYSans-Regular.woff") format("woff");
	font-family: "Ony Sans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src:
		local("ONYRealist-Regular"),
		url("/fonts/ONYRealist-Regular.woff2") format("woff2"),
		url("/fonts/ONYRealist-Regular.woff") format("woff");
	font-family: "ONY Realist";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
