section#services-section.section.section_first.development-services
	.wrapper
		.prev-line.section__prev-line
			p.prev-line__text Сервисы развития
		p.title-h2.section__title-h2(role="heading" aria-level="2") Чем мы можем помочь
		.development-services__list-wrapper
			ul.development-services__list
				li.development-services__item
					.development-services__front
						.development-services__icon-wrapper
							.development-services__icon.development-services__icon_1
						p.text.development-services__title-front(role="heading" aria-level="3") МЕНТОРСТВО
					.development-services__back
						p.text.development-services__title-back(role="heading" aria-level="3") МЕНТОРСТВО
						p.text.text_middle.development-services__text Привлечение эксперта для решения задачи развития
						ul.development-services__text-list
							li.development-services__list-item
								p.text.text_middle.development-services__text продажи и клиенты
							li.development-services__list-item
								p.text.text_middle.development-services__text идея, продукт, технология
							li.development-services__list-item
								p.text.text_middle.development-services__text HR и таланты
							li.development-services__list-item
								p.text.text_middle.development-services__text маркетинг и PR
							li.development-services__list-item
								p.text.text_middle.development-services__text инвестиции
							li.development-services__list-item
								p.text.text_middle.development-services__text операционные задачи
				li.development-services__item
					.development-services__front
						.development-services__icon-wrapper
							.development-services__icon.development-services__icon_2
						p.text.development-services__title-front(role="heading" aria-level="3") CHECK-UP ТЕХНОЛОГИИ
					.development-services__back
						p.text.development-services__title-back(role="heading" aria-level="3") CHECK-UP ТЕХНОЛОГИИ
						p.text.text_middle.development-services__text Проверка зрелости решения:
						ul.development-services__text-list
							li.development-services__list-item
								p.text.text_middle.development-services__text рекомендации по архитектуре решения и технологиям
							li.development-services__list-item
								p.text.text_middle.development-services__text оценка компетенций команды и процессов разработки
							li.development-services__list-item
								p.text.text_middle.development-services__text оценка рисков критических зависимостей
				li.development-services__item
					.development-services__front
						.development-services__icon-wrapper
							.development-services__icon.development-services__icon_3
						p.text.development-services__title-front(role="heading" aria-level="3") ОТКРЫТЫЕ ИННОВАЦИИ
					.development-services__back
						p.text.development-services__title-back(role="heading" aria-level="3") ОТКРЫТЫЕ ИННОВАЦИИ
						p.text.text_middle.development-services__text НИОКР или совместные разработки в партнерстве
				li.development-services__item
					.development-services__front
						.development-services__icon-wrapper
							.development-services__icon.development-services__icon_4
						p.text.development-services__title-front(role="heading" aria-level="3") ТРЕКИНГ
					.development-services__back
						p.text.development-services__title-back(role="heading" aria-level="3") ТРЕКИНГ
						p.text.text_middle.development-services__text Привлечение эксперта для ускорения развития стартапа.
						ul.development-services__text-list
							li.development-services__list-item
								p.text.text_middle.development-services__text уточняется дорожная карта развития, ключевые задачи
							li.development-services__list-item
								p.text.text_middle.development-services__text привлечение ресурсов для решения задач развития
				li.development-services__item
					.development-services__front
						.development-services__icon-wrapper
							.development-services__icon.development-services__icon_5
						p.text.development-services__title-front(role="heading" aria-level="3") ПИЛОТНЫЙ ПРОЕКТ
					.development-services__back
						p.text.development-services__title-back(role="heading" aria-level="3") ПИЛОТНЫЙ ПРОЕКТ
						p.text.text_middle.development-services__text Проверка зрелости решения:
						ul.development-services__text-list
							li.development-services__list-item
								p.text.text_middle.development-services__text оценка эффективности в решении поставленной задачи
							li.development-services__list-item
								p.text.text_middle.development-services__text оценка готовности к коммерциализации
							li.development-services__list-item
								p.text.text_middle.development-services__text рекомендации по развитию
							li.development-services__list-item
								p.text.text_middle.development-services__text возможность получить референс для заказчиков
				li.development-services__item
					.development-services__front
						.development-services__icon-wrapper
							.development-services__icon.development-services__icon_6
						p.text.development-services__title-front(role="heading" aria-level="3") ДОСТУП К ТЕХНОЛОГИЯМ
					.development-services__back
						p.text.development-services__title-back(role="heading" aria-level="3") ДОСТУП К ТЕХНОЛОГИЯМ
						p.text.text_middle.development-services__text Апробация решения на данных и сервисах Солар.
						p.text.text_middle.development-services__text Интеграция с MSS.
				li.development-services__item
					.development-services__front
						.development-services__icon-wrapper
							.development-services__icon.development-services__icon_7
						p.text.development-services__title-front(role="heading" aria-level="3") CYBER ADVISORY BOARD
					.development-services__back
						p.text.development-services__title-back(role="heading" aria-level="3") CYBER ADVISORY BOARD
						p.text.text_middle.development-services__text Привлечение в роли советника CISO, ИТ директора крупной корпорации, ведущего эксперта.
						p.text.text_middle.development-services__text Помощь в структурировании взаимодействия.
				li.development-services__item
					.development-services__front
						.development-services__icon-wrapper
							.development-services__icon.development-services__icon_8
						p.text.development-services__title-front(role="heading" aria-level="3") ОБУЧЕНИЕ
					.development-services__back
						p.text.development-services__title-back(role="heading" aria-level="3") ОБУЧЕНИЕ
						p.text.text_middle.development-services__text Техническое и бизнес обучение по запросу, в т.ч. прохождение инкубаторов, акселераторов на площадках партнеров.
