section.section_last.section.news
	.wrapper
		.news__title-wrapper
			p.text.news__title(role="heading" aria-level="2") НОВОСТИ
			a.text.link.link_arrow.link_arrow-big(href="https://rt-solar.ru/events/news/" target="_blank" rel="nofollow")
				+svg("arrow-slide-next")
				| ПОКАЗАТЬ ВСЕ
		ul.news__section
			li.news__section-item
				a.news__section-link(href="https://www.interfax.ru/events/news/932862" target="_blank")
					img.news__img(src=`${baseDir}images/news-img-4.jpg` width="330" height="189" alt="На SOC-Forum 2023 участники обсудили актуальные угрозы, экономику кибербезопасности и технологии на практике")
					.news__text-wrapper
						p.text.text_middle.news__date 22 ноября
						.news__information
							p.title-h3.news__information-title(role="heading" aria-level="3")
								| На SOC-Forum 2023 участники обсудили актуальные угрозы, экономику кибербезопасности и технологии на практике
							//p.text.text_middle.link.news__show-more Подробнее
			li.news__section-item
				a.news__section-link(href="https://vc.ru/begovatovd/907634-trendy-rynka-infobezopasnosti-v-rossii-v-2024-godu" target="_blank")
					img.news__img(src=`${baseDir}images/news-img-5.jpg` width="330" height="189" alt="Тренды рынка инфобезопасности в России в 2024 году")
					.news__text-wrapper
						p.text.text_middle.news__date 22 ноября
						.news__information
							p.title-h3.news__information-title(role="heading" aria-level="3")
								| Тренды рынка инфобезопасности в России в 2024 году
							//p.text.text_middle.link.news__show-more Подробнее
			li.news__section-item
				a.news__section-link(href="https://www.forbes.ru/tekhnologii/494867-bezopasnoe-uskorenie-zacem-rtk-solar-zapuskaet-programmu-akseleracii-startapov" target="_blank")
					img.news__img(src=`${baseDir}images/news-img-6.jpg` width="330" height="189" alt="Безопасное ускорение: зачем «РТК-Солар» запускает программу акселерации стартапов")
					.news__text-wrapper
						p.text.text_middle.news__date 23 августа
						.news__information
							p.title-h3.news__information-title(role="heading" aria-level="3")
								| Безопасное ускорение: зачем «РТК-Солар» запускает программу акселерации стартапов
							//p.text.text_middle.link.news__show-more Подробнее
