section.section-second.profile
	.wrapper
		.title-header
			p.title-h2_second(role="heading" aria-level="2") Критерии отбора участников
			p.text.title-header__subtitle
				span (
				| ПРОФИЛЬ УЧАСТНИКА
				span )
		.scroll-container 
			ul.profile__list
				li.profile__item
					.profile__item-start
						p.text.profile__item-number
							span (
							| 001
							span )
						p.text.profile__item-title Создан продукт от стадии MVP и более зрелый
					p.text.profile__item-text Основные элементы функционала продукта реализованы. Проведены пилотные проекты или продажи в заказчиках
				li.profile__item
					.profile__item-start
						p.text.profile__item-number
							span (
							| 002
							span )
						p.text.profile__item-title Решение задач В СФЕРЕ ИБ и смежных направлений
					p.text.profile__item-text Продукт направлен на решение задач в сфере информационной безопасности или на улучшение качества комплексных сервисов и продуктов				
				li.profile__item
					.profile__item-start
						p.text.profile__item-number
							span (
							| 003
							span )
						p.text.profile__item-title Собрана команда проекта
					p.text.profile__item-text Есть не менее трех основных участников в команде. Выделены ответственные за продукт, продажи и финансы