section.section.promo.promo-main
	.wrapper.promo__wrapper
		h1.title-h1.promo__title.promo-main__title CYBER <span>STAGE</span>
		p.text.promo__text.promo-main__text Программа поддержки стартапов в сфере информационной безопасности и смежных направлениях
		button.btn.promo__btn.js-go-to-form(data-target="callback-form") Подать заявку
