section.section-second.types-of-support
	.wrapper
		.title-header
			p.title-h2_second(role="heading" aria-level="2") Оказываем поддержку по ключевым направлениям
			p.text.title-header__subtitle
				span (
				| Направления поддержки
				span )

		ul.types-of-support__list
			li.types-of-support__item
				a.types-of-support__link-wrapper(href="/mentoring/")
					p.title-h3_second.types-of-support__title(role="heading" aria-level="3") Менторство
					p.text.types-of-support__text Находим экспертов от бизнеса и функциональных направлений для решения задачи стартапа
					p.text.text_middle.link.link_arrow.link_arrow-big.types-of-support__link
						+svg("arrow-slide-next")
						| подробнее

						|
			li.types-of-support__item
				a.types-of-support__link-wrapper(href="/advisory/")
					p.title-h3_second.types-of-support__title(role="heading" aria-level="3") Advisory Board
					p.text.types-of-support__text Совет внешних лидеров рынка для решения специфичных задач развития
					.types-of-support__images 
						img.types-of-support__img.types-of-support__img-one(src=`${baseDir}images/types-of-support-img1.jpg` alt="advisory-board-picture")
						img.types-of-support__img.types-of-support__img-two(src=`${baseDir}images/types-of-support-img2.jpg` alt="advisory-board-picture")
					p.text.text_middle.link.link_arrow.link_arrow-big.types-of-support__link
						+svg("arrow-slide-next")
						| подробнее

						|

			li.types-of-support__item
				a.types-of-support__link-wrapper(href="/technology-testing/")
					p.title-h3_second.types-of-support__title(role="heading" aria-level="3") Тестирование технологий
					p.text.types-of-support__text Помогаем дорастить технологию и решение под реальные потребности клиентов
					p.text.text_middle.link.link_arrow.link_arrow-big.types-of-support__link
						+svg("arrow-slide-next")
						| подробнее

						|
			li.types-of-support__item
				a.types-of-support__link-wrapper(href="/attracting-investments/")
					p.title-h3_second.types-of-support__title(role="heading" aria-level="3") Привлечение инвестиций
					p.text.types-of-support__text Поддержка в поиске ресурсов и финансирования
					p.text.text_middle.link.link_arrow.link_arrow-big.types-of-support__link
						+svg("arrow-slide-next")
						| подробнее
